<ait-template-popup [width]="800" [isLoading]="true" [isPage]="false">
  <div class="user__wrapper">
    <ait-text-gradient [content]="getTitleByMode()" [id]="'user_project'"></ait-text-gradient>
    <div class="content__card">
      <div class="form">
        <div class="input_inline">
          <ait-input-text
            [id]="'name'"
            [width]="'400px'"
            [label]="'name'"
            [length]="200"
            [required]="true"
            [fullWidth]="true"
            [width]="'400px'"
            [placeholder]="'please input project name'"
            [isSubmit]="isSubmit"
            [isReset]="resetUserProject.name"
            [clearError]="isClearErrors.name"
            (watchValue)="takeInputValue($event, 'name')"
            [defaultValue]="userProject.controls['name'].value"
            [clearError]="isClear"
          >
          </ait-input-text>
        </div>
        <div class="input_date">
          <ait-datepicker
            [id]="'start_date_from'"
            [label]="'start date'"
            [required]="true"
            [placeholder]="''"
            [format]="'yyyy/MM'"
            [isSubmit]="isSubmit"
            [style]="{ width: '170px' }"
            [isReset]="resetUserProject.start_date_from"
            (watchValue)="takeDatePickerValue($event?.value, 'start_date_from')"
            [defaultValue]="
              userProject.controls['start_date_from'].value
                ? userProject.controls['start_date_from'].value
                : null
            "
          ></ait-datepicker>

          <span>~</span>

          <ait-datepicker
            [id]="'start_date_to'"
            [required]="false"
            [placeholder]=""
            [label]="''"
            [format]="'yyyy/MM'"
            [style]="{ width: '170px' }"
            [isSubmit]="isSubmit"
            [isReset]="resetUserProject.start_date_to"
            (watchValue)="takeDatePickerValue($event?.value, 'start_date_to')"
            [defaultValue]="
              userProject.controls['start_date_to'].value
                ? userProject.controls['start_date_to'].value
                : null
            "
          ></ait-datepicker>
        </div>
        <div style="width: 400px">
          <ait-error-message
            [errors]="error"
            [id]="'messagErrorProject'"
          ></ait-error-message>
        </div>
        <div class="input_inline">
          <ait-autocomplete-master-data
            [maxItem]="1"
            [width]="'400px'"
            [id]="'company_working'"
            [label]="'company'"
            [placeholder]="'aureole it'"
            [required]="true"
            [collection]="'m_company'"
            [style]="{ width: '400px' }"
            [disableOutputDefault]="true"
            [isSubmit]="isSubmit"
            [isReset]="resetUserProject.company_working"
            (watchValue)="takeMasterValue($event, 'company_working')"
            [defaultValue]="[userProject.controls['company_working'].value]"
            [clearError]="isClear"
          ></ait-autocomplete-master-data>
        </div>

        <div class="input_inline">
          <ait-autocomplete-master-data
            [id]="'title'"
            [width]="'400px'"
            [maxItem]="1"
            [allowNew]="true"
            [label]="'title'"
            [placeholder]="'developer'"
            [required]="true"
            [collection]="'m_title'"
            [isReset]="resetUserProject.title"
            [style]="{ width: '400px' }"
            [disableOutputDefault]="true"
            [isSubmit]="isSubmit"
            [disableOutputDefault]="true"
            (watchValue)="takeMasterValue($event, 'title')"
            [defaultValue]="[userProject.controls['title'].value]"
            [clearError]="isClear"
          ></ait-autocomplete-master-data>
        </div>

        <div class="input_inline">
          <ait-input-text
            [id]="'description'"
            [width]="'400px'"
            [label]="'description'"
            [placeholder]="'place your text'"
            [rows]="5"
            [required]="true"
            [fullWidth]="true"
            [length]="4000"
            [width]="'400px'"
            [isSubmit]="isSubmit"
            [isReset]="resetUserProject.description"
            (watchValue)="takeInputValue($event, 'description')"
            [defaultValue]="userProject.controls['description'].value"
            [clearError]="isClearErrors.description"
            [clearError]="isClear"
          >
          </ait-input-text>
        </div>

        <div class="input_inline">
          <ait-autocomplete-master-data
            [id]="'skills'"
            [width]="'400px'"
            [allowNew]="true"
            [disableOutputDefault]="true"
            [collection]="'m_skill'"
            [label]="'skills (max 10)'"
            [placeholder]="'fill name and enter to add your skills'"
            [required]="true"
            [maxItem]="'10'"
            [isReset]="resetUserProject.skills"
            [style]="{ width: '400px' }"
            [disableOutputDefault]="true"
            [isSubmit]="isSubmit"
            [clearError]="isClearErrors.skills"
            (watchValue)="
              takeMasterValues($event?.value, 'userProject', 'skills')
            "
            [defaultValue]="userProject.controls['skills'].value"
            [clearError]="isClear"
          ></ait-autocomplete-master-data>
        </div>

        <div class="input_inline">
          <ait-input-text
            [required]="true"
            [width]="'400px'"
            [label]="'responsibility'"
            [id]="'responsibility'"
            [placeholder]="'place your text'"
            [fullWidth]="true"
            [rows]="5"
            [length]="4000"
            [width]="'400px'"
            [isSubmit]="isSubmit"
            [clearError]="isClearErrors.responsibility"
            [isReset]="resetUserProject.responsibility"
            (watchValue)="takeInputValue($event, 'responsibility')"
            [defaultValue]="userProject.controls['responsibility'].value"
            [clearError]="isClear"
          >
          </ait-input-text>
        </div>
        <div class="input_inline">
          <ait-input-text
            [id]="'achievement'"
            [width]="'400px'"
            [label]="'achievement'"
            [required]="true"
            [placeholder]="'place your text'"
            [fullWidth]="true"
            [rows]="5"
            [length]="4000"
            [width]="'400px'"
            [isSubmit]="isSubmit"
            [clearError]="isClearErrors.achievement"
            [isReset]="resetUserProject.achievement"
            (watchValue)="takeInputValue($event, 'achievement')"
            [defaultValue]="userProject.controls['achievement'].value"
            [clearError]="isClear"
          >
          </ait-input-text>
        </div>
      </div>
    </div>
    <div class="sticky">
      <div class="action-row">
        <div class="block">
          <ait-button
            *ngIf="mode === 'NEW' || mode === 'EDIT'"
            [id]="'cancel'"
            [width]="'150px'"
            [title]="'cancel'"
            (click)="cancel()"
            [isDefault]="true"
            nbSpinnerStatus="primary"
            [tabIndex]="40"
            [background]="
              'linear-gradient(89.75deg, #002b6e 0.23%, #2288cc 99.81%)'
            "
          ></ait-button>

          <ait-button
            *ngIf="mode === 'EDIT'"
            [id]="'remove'"
            [width]="'150px'"
            [title]="'delete'"
            (click)="Delete()"
            [background]="
              'linear-gradient(89.75deg, #002b6e 0.23%, #2288cc 99.81%)'
            "
          ></ait-button>

          <ait-button
            *ngIf="mode === 'NEW' || mode === 'EDIT'"
            [id]="'reset'"
            [width]="'150px'"
            [title]="'reset'"
            (click)="resetForm()"
            [background]="
              'linear-gradient(89.75deg, #002b6e 0.23%, #2288cc 99.81%)'
            "
          ></ait-button>
          
          <ait-button
            *ngIf="mode === 'NEW'"
            [id]="'save_continue'"
            [width]="'150px'"
            [title]="'save and continue'"
            [background]="
              'linear-gradient(89.75deg, #002b6e 0.23%, #2288cc 99.81%)'
            "
            (click)="saveContinue()"
          ></ait-button>

          <ait-button
            *ngIf="(isChanged && mode === 'EDIT') || mode === 'NEW'"
            [id]="'saveClose'"
            [width]="'150px'"
            [title]="'save and close'"
            [background]="
              'linear-gradient(89.75deg, #002b6e 0.23%, #2288cc 99.81%)'
            "
            (click)="saveClose()"
          ></ait-button>

          <ait-button
            *ngIf="!isChanged && mode === 'EDIT'"
            [id]="'disabled'"
            [width]="'150px'"
            [title]="'save and close'"
            [style]="'disabled'"
          ></ait-button>

          <ait-button
            *ngIf="mode === 'VIEW'"
            [id]="'saveClose'"
            [width]="'150px'"
            [title]="'CLOSE'"
            (click)="cancel()"
            [background]="
              'linear-gradient(89.75deg, #002b6e 0.23%, #2288cc 99.81%)'
            "
          ></ait-button>
        </div>
      </div>
    </div>
  </div>
</ait-template-popup>
