<ait-group-input [page]="'user-certificate'" [module]="'user-certificate'" [_key]="''"></ait-group-input>
<!-- <ait-template-popup [width]="800" [isLoading]="true" [isPage]="false">
  <div class="user__wrapper">
    <div style="min-height: 85px">
      <ait-text-gradient
        *ngIf="isLoad"
        [fontsize]="'36px'"
        [content]="getTitleByMode()"
        [id]="'form_edit_user_certificate'"
      >
      </ait-text-gradient>
    </div>
    <div class="content__card">
      <div class="form">
        <div class="input_inline">
          <ait-autocomplete-master-data
            [id]="'name'"
            [width]="'400px'"
            [label]="'name'"
            [required]="true"
            [allowNew]="true"
            [maxItem]="1"
            [placeholder]="'japanese n1'"
            [collection]="'m_certificate_award'"
            [isReset]="resetCertificate.name"
            (watchValue)="takeMasterValue($event, 'name')"
            [defaultValue]="
              [certificate.controls['name'].value]
                ? [certificate.controls['name'].value]
                : null
            "
            [isSubmit]="isSubmit"
            [disableOutputDefault]="true"
            [clearError]="isClearError"
          ></ait-autocomplete-master-data>
        </div>

        <div class="input_inline">
          <ait-input-text
            [id]="'certificate_award_number'"
            [label]="'certificate number'"
            [height]="'40px'"
            [width]="'400px'"
            [required]="false"
            [placeholder]="'ex: ait001'"
            (watchValue)="takeInputValue($event, 'certificate_award_number')"
            [defaultValue]="
              certificate.controls['certificate_award_number'].value
            "
            [isReset]="resetCertificate.certificate_award_number"
            [isSubmit]="isSubmit"
            [length]="400"
          ></ait-input-text>
        </div>

        <div class="input_inline">
          <ait-input-text
            [height]="'40px'"
            [width]="'400px'"
            [rows]="4"
            [label]="'grade'"
            [required]="false"
            [id]="'grade'"
            [placeholder]="'90/120'"
            (watchValue)="takeInputValue($event, 'grade')"
            [defaultValue]="certificate.controls['grade'].value"
            [isReset]="resetCertificate.grade"
            [isSubmit]="isSubmit"
            [length]="400"
          ></ait-input-text>
        </div>

        <div class="input_inline">
          <ait-autocomplete-master-data
            [id]="'issue_by'"
            [width]="'400px'"
            [label]="'issue by'"
            [placeholder]="'bach khoa hcm'"
            [required]="false"
            [allowNew]="true"
            [collection]="'m_training_center'"
            [isReset]="resetCertificate.issue_by"
            [style]="{ width: '400px' }"
            (watchValue)="takeMasterValue($event, 'issue_by')"
            [defaultValue]="
              [certificate.controls['issue_by'].value]
                ? [certificate.controls['issue_by'].value]
                : null
            "
            [disableOutputDefault]="true"
            [maxItem]="1"
            [isSubmit]="isSubmit"
          ></ait-autocomplete-master-data>
        </div>

        <div class="input_date">
          <ait-datepicker
            [label]="'issue_date_lable'"
            [format]="dateFormat"
            [placeholder]="'01/01/2021'"
            [id]="'issue_date_from'"
            [style]="{ width: '170px' }"
            [isReset]="resetCertificate.issue_date_from"
            [defaultValue]="certificate.controls['issue_date_from'].value"
            (watchValue)="
              takeDatePickerValue(
                $event?.value,
                'certificate',
                'issue_date_from'
              )
            "
            [isSubmit]="isSubmit"
          ></ait-datepicker>

          <span>~</span>

          <ait-datepicker
            [required]="false"
            [label]="''"
            [format]="dateFormat"
            [placeholder]="'2021/01/15'"
            [id]="'issue_date_to'"
            [style]="{ width: '170px' }"
            (watchValue)="
              takeDatePickerValue($event?.value, 'certificate', 'issue_date_to')
            "
            [defaultValue]="certificate.controls['issue_date_to'].value"
            [isReset]="resetCertificate.issue_date_to"
            [isSubmit]="isSubmit"
          ></ait-datepicker>
        </div>
        <ait-error-message
          [id]="'errorDate'"
          [errors]="error"
        ></ait-error-message>

        <div class="input_inline">
          <ait-input-text
            [height]="'108px'"
            [width]="'400px'"
            [rows]="4"
            [label]="'description'"
            [required]="false"
            [id]="'description'"
            [placeholder]="'place your text'"
            (watchValue)="takeInputValue($event, 'description')"
            [defaultValue]="certificate.controls['description'].value"
            [isReset]="resetCertificate.description"
            [isSubmit]="isSubmit"
            [length]="4000"
          ></ait-input-text>
        </div>

        <div class="input_area" style="margin-top: 14px">
          <ait-label [label]="'FILES'"></ait-label>
          <label
            class="file-max"
            style="display: flex !important; color: #8f9bb3; margin: 0"
            ><nb-icon icon="attach-outline"></nb-icon>
            <p id="max_file">{{ titlFile }}</p>
          </label>
          <ait-input-file
            [id]="'file'"
            [maxSize]="1000"
            [maxFiles]="5"
            [hasStatus]="false"
            [placeholder]="'select_file' | translate"
            [isReset]="isResetFile"
            [fileKeys]="files"
            (watchValue)="getFiles($event.value)"
            [isSubmit]="isSubmit"
          ></ait-input-file>
        </div>
      </div>
    </div>
    <ait-space></ait-space>
    <div class="sticky">
      <div class="action-row">
        <div class="block">
          <ait-button
            *ngIf="mode === 'EDIT' || mode === 'NEW'"
            [title]="'キャンセル'"
            [width]="'150px'"
            [id]="'cancel'"
            [background]="
              'linear-gradient(89.75deg, #002b6e 0.23%, #2288cc 99.81%)'
            "
            (click)="back()"
          ></ait-button>

          <ait-button
            *ngIf="mode === 'EDIT'"
            [id]="'delete'"
            [width]="'150px'"
            [title]="'消去'"
            [background]="
              'linear-gradient(89.75deg, #002b6e 0.23%, #2288cc 99.81%)'
            "
            (click)="deleteUserById()"
          ></ait-button>

          <ait-button
            *ngIf="mode === 'EDIT' || mode === 'NEW'"
            [title]="'リセット'"
            [width]="'150px'"
            [id]="'reset'"
            [background]="
              'linear-gradient(89.75deg, #002b6e 0.23%, #2288cc 99.81%)'
            "
            (click)="resetForm()"
          ></ait-button>

          <ait-button
            *ngIf="mode === 'NEW'"
            [title]="'save and continue'"
            [background]="
              'linear-gradient(89.75deg, #002b6e 0.23%, #2288cc 99.81%)'
            "
            [id]="'saveContinue'"
            [width]="'150px'"
            (click)="saveAndContinue()"
          ></ait-button>

          <ait-button
            [id]="'saveClose'"
            *ngIf="(isChanged && mode === 'EDIT') || mode === 'NEW'"
            [width]="'150px'"
            [title]="'save and close'"
            (click)="saveAndClose()"
            [background]="
              'linear-gradient(89.75deg, #002b6e 0.23%, #2288cc 99.81%)'
            "
          >
          </ait-button>
          <ait-button
            *ngIf="!isChanged && mode === 'EDIT'"
            [id]="'saveClose'"
            [width]="'150px'"
            [title]="'save and close'"
            [style]="'disabled'"
          ></ait-button>

          <ait-button
            *ngIf="mode === 'VIEW'"
            [id]="'saveClose'"
            [width]="'150px'"
            [title]="'CLOSE'"
            (click)="back()"
            [background]="
              'linear-gradient(89.75deg, #002b6e 0.23%, #2288cc 99.81%)'
            "
          ></ait-button>
        </div>
      </div>
    </div>
  </div>
</ait-template-popup> -->
