<div class="template__popup">
    <ait-text-gradient
      [content]="'title header'"
      [id]="'experience-detail'"
    ></ait-text-gradient>
  
    <div class="content__card">
      <div class="input_inline">
        <ait-output-text
          [label]="'title'"
          [width]="'400px'"
          [value]="stateUserExp.title?.value"
          [id]="'title'"
        ></ait-output-text>
      </div>
      <div class="input_inline">
        <ait-output-text
          [label]="'company'"
          [id]="'company_working'"
          [width]="'400px'"
          [value]="stateUserExp.company_working?.value"
        ></ait-output-text>
        </div>
        <div class="input_inline">
          <ait-output-text
            [label]="'location'"
            [id]="'location'"
            [width]="'400px'"
            [value]="stateUserExp.location?.value"
          ></ait-output-text>
        </div>
        <div class="input_inline">
            <ait-output-text
              [label]="'employee type'"
              [width]="'400px'"
              [value]="stateUserExp.employee_type?.value"
              [id]="'employee_type'"
            ></ait-output-text>
          </div>
        <div class="start-date">
          <ait-datepicker
            [label]="'start date'"
            [id]="'start_date_from'"
            [format]="dateFormat"
            [disable]="true"
            [styleInput]="{ color: '#8f9bb3', width: '180px' }"
            [defaultValue]="stateUserExp.start_date_from"
          ></ait-datepicker>
          <span style="margin-bottom: 4px">〜</span>
          <ait-datepicker
            [id]="'start_date_to'"
            [format]="dateFormat"
            [disable]="true"
            [styleInput]="{ color: '#8f9bb3', width: '180px' }"
            [defaultValue]="stateUserExp.start_date_to"
          ></ait-datepicker>
        </div>
        <div class="input_inline" >
          <ait-label
            [label]="'DESCRIPTION'"
            [id]="'description'"
          ></ait-label>
  
          <textarea
            nbInput
            style="width: 400px; color: #8f9bb3; min-height: 131px;margin-top:10px; background-color: transparent;"
            readonly
            disabled
            fullWidth
            [value]="stateUserExp.description || ''"
            class="textarea"
            [id]="'description'"
          >
          </textarea>
        </div>
      </div>
  </div>
  


