<ait-template-popup [width]="800" [isLoading]="true" [isPage]="false">
<div class="template__popup">
  <ait-text-gradient
    [content]="'title header'"
    [id]="'project-detail'"
  ></ait-text-gradient>

  <div class="content__card">
    <div class="input_inline">
      <ait-output-text
        [label]="'NAME'"
        [width]="'400px'"
        [value]="stateUserProject.name"
        [id]="'name'"
      ></ait-output-text>
    </div>
    <div class="start-date">
      <ait-datepicker
        [label]="'START DATE'"
        [id]="'start_date_from'"
        [format]="dateFormat"
        [disable]="true"
        [styleInput]="{ color: '#8f9bb3', width: '180px' }"
        [defaultValue]="stateUserProject.start_date_from"
      ></ait-datepicker>
      <span style="margin-bottom: 4px">〜</span>
      <ait-datepicker
        [id]="'start_date_to'"
        [format]="dateFormat"
        [disable]="true"
        [styleInput]="{ color: '#8f9bb3', width: '180px' }"
        [defaultValue]="stateUserProject.start_date_to"
      ></ait-datepicker>
    </div>
    <div class="input_inline">
      <ait-output-text
        [label]="'COMPANY'"
        [id]="'company_working'"
        [width]="'400px'"
        [value]="stateUserProject.company_working?.value"
      ></ait-output-text>
    </div>
    <div class="input_inline">
      <ait-output-text
        [label]="'TITLE'"
        [id]="'title'"
        [width]="'400px'"
        [value]="stateUserProject.title?.value"
      ></ait-output-text>
    </div>
    <div class="input_inline" >
      <ait-label
        [label]="'DESCRIPTION'"
        [id]="'description'"
      ></ait-label>

      <textarea
        nbInput
        style="width: 400px; color: #8f9bb3; min-height: 131px;margin-top:10px; background-color: transparent;"
        readonly
        disabled
        fullWidth
        [value]="stateUserProject.description || ''"
        class="textarea"
        [id]="'description'"
      >
      </textarea>
    </div>
    <div class="input_inline">
      <ait-output-text
        [label]="'SKILLS (MAX 10)'"
        style="width: 100%; margin-top: 16px"
        [id]="'skills'"
        [width]="'400px'"
        [valueArray]="stateUserSkill"
      ></ait-output-text>
    </div>
    <div class="input_inline" >
      <ait-label
        [label]="'RESPONSIBILITY'"
        [id]="'responsibility'"
      ></ait-label>

      <textarea
        nbInput
        style="width: 400px; color: #8f9bb3; min-height: 131px;margin-top:10px; background-color: transparent;"
        readonly
        disabled
        fullWidth
        [value]="stateUserProject.responsibility || ''"
        class="textarea"
        [id]="'responsibility'"
      >
      </textarea>
    </div>
    <div class="input_inline" >
      <ait-label
        [label]="'ACHIEVEMENT'"
        [id]="'achievement'"
      ></ait-label>

      <textarea
        nbInput
        style="width: 400px; color: #8f9bb3; min-height: 131px;margin-top:10px; background-color: transparent;"
        readonly
        disabled
        fullWidth
        [value]="stateUserProject.achievement || ''"
        class="textarea"
        [id]="'achievement'"
      >
      </textarea>
    </div>
   
  </div>
  <ait-space></ait-space>
  <div class="sticky">
    <div class="action-row">
      <ait-button
        [id]="'close'"
        [width]="'150px'"
        [title]="'close'"
        (click)="close()"
        [background]="
          'linear-gradient(89.75deg, #002b6e 0.23%, #2288cc 99.81%)'
        "
      ></ait-button>
    </div>
  </div>
</div>
</ait-template-popup>