<div class="template__popup">
  <ait-text-gradient [content]="mode ==='NEW'? 'Add certificate & award' : 'Edit certificate & award'"></ait-text-gradient>
  <div class="content__card">
    <div class="form__wrapper">
      <div class="input_inline">
        <ait-autocomplete-master-data
          [id]="'name'"
          [label]="'Name'"
          [placeholder]="'Japanese N1'"
          [required]="true"
          [collection]="'m_certificate_award'"
          [isReset]="resetUser.name"
          [style]="{ width: '400px' }"
          (watchValue)="takeInputValue($event, 'name')"
          [defaultValue]="[companyName]"
          [disableOutputDefault]="true"
          [isSubmit]="isSubmit"
        ></ait-autocomplete-master-data>
      </div>

      <div class="input_inline">
        <ait-input-text
          [height]="'40px'"
          [width]="'400px'"
          [rows]="4"
          [label]="'CERTIFICATE NUMBER'"
          [required]="false"
          [id]="'certificate'"
          [placeholder]="'EX: AIT001'"
          (watchValue)="takeInputValue($event, 'certificate')"
          [defaultValue]="certificate.controls['certificate'].value"
          [isReset]="resetUser.certificate"
          [isSubmit]="isSubmit"
          [length]="400"
        ></ait-input-text>
      </div>

      <div class="input_inline">
        <ait-input-text
          [height]="'40px'"
          [width]="'400px'"
          [rows]="4"
          [label]="'GRADE'"
          [required]="false"
          [id]="'grade'"
          [placeholder]="'90/120'"
          (watchValue)="takeInputValue($event, 'grade')"
          [defaultValue]="certificate.controls['grade'].value"
          [isReset]="resetUser.grade"
          [isSubmit]="isSubmit"
          [length]="400"
        ></ait-input-text>
      </div>

      <div class="input_inline">
        <ait-autocomplete-master-data
          [id]="'issue'"
          [label]="'Issue BY'"
          [placeholder]="'BACH KHOA Ho Chi Minh Technology University'"
          [required]="false"
          [collection]="'m_training_center'"
          [isReset]="resetUser.issue"
          [style]="{ width: '400px' }"
          (watchValue)="takeInputValue($event, 'issue')"
          [defaultValue]="[companyIssue]"
          [disableOutputDefault]="true"
          [isSubmit]="isSubmit"
        ></ait-autocomplete-master-data>
      </div>

      <div class="input_inline">
        <ait-datepicker
          [required]="false"
          [label]="'ISSUE DATE'"
          [placeholder]="'yyyy/MM/dd'"
          [id]="'issueDate'"
          [style]="{ width: '170px' }"
          [isReset]="resetUser.issueDate"
          (watchValue)="
            takeDatePickerValue($event?.value, 'userInfo', 'issueDate')
          "
          [dateInput]="certificate.controls['issueDate'].value"
          [isReset]="resetUser.issueDate"
          [isSubmit]="isSubmit"
        ></ait-datepicker>
        <p class="label-datepiker">{{ '~' }}</p>
        <ait-datepicker
          [required]="false"
          [placeholder]="'yyyy/MM/dd'"
          [id]="'immigration'"
          [style]="{ width: '170px' }"
          [isReset]="resetUser.immigration"
          (watchValue)="
            takeDatePickerValue($event?.value, 'userInfo', 'immigration')
          "
          [dateInput]="certificate.controls['immigration'].value"
          [isReset]="resetUser.immigration"
        ></ait-datepicker>
      </div>
      <ait-error-message [errors]="error"></ait-error-message>

      <div class="input_inline">
        <ait-input-text
          [height]="'108px'"
          [width]="'400px'"
          [rows]="4"
          [label]="'DESCRIPTION'"
          [required]="false"
          [id]="'description'"
          [placeholder]="'Place your text'"
          (watchValue)="takeInputValue($event, 'description')"
          [defaultValue]="certificate.controls['description'].value"
          [isReset]="resetUser.description"
          [isSubmit]="isSubmit"
          [length]="400"
        ></ait-input-text>
      </div>

      <div class="input_inline">
        <ait-input-file
          (watchValue)="getFiles($event.value)"
          [maxFiles]="10"
          [hasStatus]="false"
          [title]="'職務経歴' "
          [maxSize]="20000"
          [id]="'file'"
          [guidanceIcon]="'info-outline'"
          [guidance]="'「個人情報の取り扱いについての同意」を添付して下さい。'"
          [fileKeys]=""
          [isSubmit]="isSubmit"
          [isReset]="resetUser.file"
          [fileKeys]="files"
        ></ait-input-file>
      </div>
    </div>
  </div>

  <ait-space></ait-space>

  <div class="button__group">
    <ait-button
      [title]="'CANCEL'"
      [id]="'cancel'"
      [background]="'linear-gradient(89.75deg, #002b6e 0.23%, #2288cc 99.81%)'"
      (click)="back()"
    ></ait-button>
    <ait-button
      [title]="'RESET'"
      [id]="'reset'"
      [background]="'linear-gradient(89.75deg, #002b6e 0.23%, #2288cc 99.81%)'"
      (click)="resetForm()"
    ></ait-button>
    <ait-button
      *ngIf="mode ==='EDIT'"
      [id]="'delete'"
      [title]="'DELETE'"
      [background]="'linear-gradient(89.75deg, #002b6e 0.23%, #2288cc 99.81%)'"
      (click)="deleteUserById()"
    ></ait-button>
    <ait-button
      *ngIf="mode === 'NEW'"
      [title]="'SAVE & CONTINUE'"
      [background]="'linear-gradient(89.75deg, #002b6e 0.23%, #2288cc 99.81%)'"
      [id]="'saveContinue'"
      (click)="saveAndContinue()"
    ></ait-button>

  <ait-button
    [id]="'saveClose'"
    *ngIf="(isChangeData && mode === 'EDIT') || mode === 'NEW'"
    [width]="'200px'"
    [title]="'SAVE & CLOSE'"
    (click)="saveAndClose()"
    [background]="'linear-gradient(89.75deg, #002b6e 0.23%, #2288cc 99.81%)'"
  >
  </ait-button>
  <ait-button
    *ngIf="!isChangeData && mode === 'EDIT'"
    [id]="'saveClose'"
    [width]="'200px'"
    [title]="'SAVE & CLOSE'"
    [style]="'disabled'"
    [background]="'linear-gradient( 89.75deg, rgb(70 70 70) 0.23%, rgb(148 148 148) 99.81%)'"
  ></ait-button>
  </div>
</div>
