<div class="template__popup">
  <ait-text-gradient [content]="mode ==='NEW'? 'Add certificate & award' : 'Edit certificate & award'"></ait-text-gradient>
  <div class="content__card">
    <div class="form__wrapper">
      <div class="input_inline">
        <ait-autocomplete-master-data
          [id]="'name'"
          [label]="'NAME'"
          [required]="true"
          [allowNew]="true"
          [maxItem]="1"
          [placeholder]="'japanese'"
          [collection]="'m_certificate_award'"
          [isReset]="resetCertificate.name"        
          (watchValue)="takeInputValue($event, 'name')"
          [defaultValue]="[companyName]"
          [isSubmit]="isSubmit"
          [disableOutputDefault]="true"
        ></ait-autocomplete-master-data>
      </div>

      <div class="input_inline">
        <ait-input-text
          [id]="'certificate_award_number'"
          [label]="'certificate'"
          [height]="'40px'"
          [width]="'400px'"
          [required]="false"
          [placeholder]="'ex'"
          (watchValue)="takeInputValue($event, 'certificate_award_number')"
          [defaultValue]="certificate.controls['certificate_award_number'].value"
          [isReset]="resetCertificate.certificate_award_number"
          [isSubmit]="isSubmit"
          [length]="400"
        ></ait-input-text>
      </div>

      <div class="input_inline">
        <ait-input-text
          [height]="'40px'"
          [width]="'400px'"
          [rows]="4"
          [label]="'grade'"
          [required]="false"
          [id]="'grade'"
          [placeholder]="'90/120'"
          (watchValue)="takeInputValue($event, 'grade')"
          [defaultValue]="certificate.controls['grade'].value"
          [isReset]="resetCertificate.grade"
          [isSubmit]="isSubmit"
          [length]="400"
        ></ait-input-text>
      </div>

      <div class="input_inline">
        <ait-autocomplete-master-data
          [id]="'issue_by'"
          [label]="'issue_by'"
          [placeholder]="'school'"
          [required]="false"
          [allowNew]="true"
          [collection]="'m_training_center'"
          [isReset]="resetCertificate.issue_by"
          [style]="{ width: '400px' }"
          (watchValue)="takeInputValue($event, 'issue_by')"
          [defaultValue]="[companyIssue]"
          [disableOutputDefault]="true"
          [maxItem]="1"
          [isSubmit]="isSubmit"
        ></ait-autocomplete-master-data>
      </div>

      <div class="input_inline">
        <ait-datepicker
          [required]="false"
          [label]="'issue_date'"
          [placeholder]="'yyyy/MM/dd'"
          [id]="'issue_date_from'"
          [style]="{ width: '170px' }"
          (watchValue)="
            takeDatePickerValue($event?.value,'certificate','issue_date_from')
          "
          [dateInput]="certificate.controls['issue_date_from'].value"
          [isReset]="resetCertificate.issue_date_from"
          [isSubmit]="isSubmit"
        ></ait-datepicker>

        <p class="label-datepiker">{{ '~' }}</p>

        <ait-datepicker
          [required]="false"
          [placeholder]="'yyyy/MM/dd'"
          [id]="'issue_date_to'"
          [style]="{ width: '170px' }"
          [isReset]="resetCertificate.issue_date_to"
          (watchValue)="
            takeDatePickerValue($event?.value,'certificate', 'issue_date_to')
          "
          [dateInput]="certificate.controls['issue_date_to'].value"
        ></ait-datepicker>
      </div>
      <ait-error-message [errors]="error"></ait-error-message>

      <div class="input_inline">
        <ait-input-text
          [height]="'108px'"
          [width]="'400px'"
          [rows]="4"
          [label]="'description'"
          [required]="false"
          [id]="'description'"
          [placeholder]="'place'"
          (watchValue)="takeInputValue($event, 'description')"
          [defaultValue]="certificate.controls['description'].value"
          [isReset]="resetCertificate.description"
          [isSubmit]="isSubmit"
          [length]="4000"
        ></ait-input-text>
      </div>

      <div class="input_inline">   
      </div>
      <div class="input_area">
        <ait-label [label]="'file'"></ait-label>
        <label class="file-max" style="display: flex !important;color: #8f9bb3">
          <nb-icon icon="attach-outline"></nb-icon>
          <ait-label [label]="'upload'"></ait-label>
        </label>
        <ait-input-file
          [id]="'file'"
          [maxSize]="1000"
          [maxFiles]="5"
          [hasStatus]="false"
          [placeholder]="'select_file'"
          [isReset]="resetCertificate.file"
          [fileKeys]="files"
          (watchValue)="getFiles($event.value)"
          [isSubmit]="isSubmit"
        ></ait-input-file>
      </div>
    </div>
  </div>
  <!-- [isMatching] = "true" -->
  <ait-space></ait-space>
  <div 
    class="sticky"
    style="
      min-width: 370px;
      display: flex;
      align-items: center;
      justify-content: space-between;
    "
    >
    <div class="button__group">
      <ait-button
      *ngIf="mode ==='EDIT' || mode ==='NEW' "
        [title]="'cancel'"
        [id]="'cancel'"
        [background]="'linear-gradient(89.75deg, #002b6e 0.23%, #2288cc 99.81%)'"
        (click)="back()"
      ></ait-button>
      <ait-button
      *ngIf="mode ==='EDIT' || mode ==='NEW' "
        [title]="'reset'"
        [id]="'reset'"
        [background]="'linear-gradient(89.75deg, #002b6e 0.23%, #2288cc 99.81%)'"
        (click)="resetForm()"
      ></ait-button>
      <ait-button
        *ngIf="mode ==='EDIT'"
        [id]="'delete'"
        [title]="'delete'"
        [background]="'linear-gradient(89.75deg, #002b6e 0.23%, #2288cc 99.81%)'"
        (click)="deleteUserById()"
      ></ait-button>
      <ait-button
        *ngIf="mode === 'NEW'"
        [title]="'save_continue'"
        [background]="'linear-gradient(89.75deg, #002b6e 0.23%, #2288cc 99.81%)'"
        [id]="'saveContinue'"
        (click)="saveAndContinue()"
      ></ait-button>
  
    <ait-button
      [id]="'saveClose'"
      *ngIf="(isChanged && mode === 'EDIT') || mode === 'NEW'"
      [width]="'200px'"
      [title]="'save_close'"
      (click)="saveAndClose()"
      [background]="'linear-gradient(89.75deg, #002b6e 0.23%, #2288cc 99.81%)'"
    >
    </ait-button>
    <ait-button
      *ngIf="!isChanged && mode === 'EDIT'"
      [id]="'saveClose'"
      [width]="'200px'"
      [title]="'save_close'"
      [style]="'disabled'"
    ></ait-button>

    <ait-button
      *ngIf=" mode === 'VIEW'"
      [id]="'saveClose'"
      [width]="'200px'"
      [title]="'close'"
      (click)="back()"
      [background]="'linear-gradient(89.75deg, #002b6e 0.23%, #2288cc 99.81%)'"
    ></ait-button>
    </div>
  </div>
</div>
