@import '../../../../../styles/themes.scss';
@import '../user-job-alert/user-job-alert.component.scss';
.start-date {
  display: flex;
  align-items: flex-end;
  width: 400px;
  margin-top: 14px;
  span {
    color: #8f9bb3;
    margin: 12px;
    font-weight: 600;
  }
  ::ng-deep input {
    border: none;
    background-color: white;
    border-bottom: 0.5px solid #e4e9f2;
    border-radius: 0;
  }
}
.sticky {
  display: flex;
  align-items: center;
  justify-content: center;
  .action-row {
    margin-top: 30px;
  }
}
.textarea_inline {
  margin-top: 14px;
  display: block !important;
}
