<div class="user__language__wrapper" id="user_language">
  <ait-text-gradient
    [content]="getTitleByMode()"
    id="form_edit_user_language"
  ></ait-text-gradient>
  <ait-card-content
    style="justify-content: center"
    class="content__card"
  >
    <div style="margin-top: 14px">
      <div class="input_area">
        <ait-autocomplete-master-data
          [id]="'language'"
          [label]="'language'"
          [required]="true"
          [placeholder]="'japanese'"
          [collection]="'sys_master_data'"
          [class]="'LANGUAGE'"
          [disableOutputDefault]="true"
          [isReset]="resetUserLangInfo.language"
          (watchValue)="takeMasterValue($event, 'language')"
          [defaultValue]="[userLanguageInfo.controls['language'].value]"
          [isSubmit]="isSubmit"
        ></ait-autocomplete-master-data>
      </div>

      <div class="input_area">
        <ait-autocomplete-master-data
          [id]="'proficiency'"
          [label]="'proficiency'"
          [placeholder]="'select'"
          [collection]="'sys_master_data'"
          [class]="'LANGUAGE_PROFICIENCY'"
          [disableOutputDefault]="true"
          [width]="'205px'"
          [isReset]="resetUserLangInfo.proficiency"
          (watchValue)="takeMasterValue($event, 'proficiency')"
          [defaultValue]="[userLanguageInfo.controls['proficiency'].value]"
        ></ait-autocomplete-master-data>
      </div>
    </div>
  </ait-card-content>
  <div class="sticky">
    <div class="action-row">
      <div class="block">
        <ait-button
          [id]="'cancel'"
          [title]="'cancel'"
          (click)="back()"
          [background]="
            'linear-gradient(89.75deg, #002b6e 0.23%, #2288cc 99.81%)'
          "
        ></ait-button>

        <ait-button
          *ngIf="mode === 'EDIT'"
          [id]="'delete'"
          [width]="'200px'"
          [title]="'delete'"
          (click)="onDelete()"
          [background]="
            'linear-gradient(89.75deg, #002b6e 0.23%, #2288cc 99.81%)'
          "
        >
        </ait-button>

        <ait-button
          [id]="'reset'"
          [width]="'200px'"
          [title]="'reset'"
          (click)="resetForm()"
          [background]="
            'linear-gradient(89.75deg, #002b6e 0.23%, #2288cc 99.81%)'
          "
        >
        </ait-button>

        <ait-button
          *ngIf="mode === 'NEW'"
          [id]="'saveAndContinue'"
          [title]="'saveandcontinue'"
          (click)="saveAndContinue()"
          [background]="
            'linear-gradient(89.75deg, #002b6e 0.23%, #2288cc 99.81%)'
          "
        ></ait-button>

        <ait-button
          [id]="'saveAndClose'"
          *ngIf="(isChanged && mode === 'EDIT') || mode === 'NEW'"
          [width]="'200px'"
          [title]="'saveandclose'"
          (click)="saveAndClose()"
          [background]="
            'linear-gradient(89.75deg, #002b6e 0.23%, #2288cc 99.81%)'
          "
        >
        </ait-button>
        <ait-button
          *ngIf="!isChanged && mode === 'EDIT'"
          [id]="'saveAndClose'"
          [width]="'200px'"
          [title]="'saveandclose'"
          [style]="'disabled'"
        ></ait-button>
      </div>
    </div>
  </div>
</div>
