<ait-template-popup [width]="1000" [isLoading]="true" [isPage]="false">
  <div class="company__info__wrapper">
    <ait-text-gradient
      [id]="'title'"
      [content]="getTitleByMode()"
    ></ait-text-gradient>
    <ait-space></ait-space>
    <div class="content__card">
      <div class="input_inline">
        <ait-autocomplete-master-data
          [id]="'language'"
          [label]="'LANGUAGE'"
          [required]="true"
          [placeholder]="'Japanese'"
          [maxItem]="1"
          [collection]="'sys_master_data'"
          [class]="'LANGUAGE'"
          [isReadOnly]="resetUserLangInfo.language"
          [disableOutputDefault]="true"
          [isReset]="resetUserLangInfo.language"
          (watchValue)="takeMasterValue($event, 'language')"
          [defaultValue]="[userLanguageInfo.controls['language'].value]"
          [isSubmit]="isSubmit"
          [width]="'400px'"
        ></ait-autocomplete-master-data>
      </div>
      <div class="input_inline" style="float: left;">
        <ait-autocomplete-master-data
          [id]="'proficiency'"
          [label]="'PROFICIENCY'"
          [placeholder]="'Select'"
          [collection]="'sys_master_data'"
          [class]="'LANGUAGE_PROFICIENCY'"
          [disableOutputDefault]="true"
          [maxItem]="1"
          [width]="'205px'"
          [isReadOnly]="resetUserLangInfo.proficiency"
          [isReset]="resetUserLangInfo.proficiency"
          (watchValue)="takeMasterValue($event, 'proficiency')"
          [defaultValue]="[userLanguageInfo.controls['proficiency'].value]"
        ></ait-autocomplete-master-data>
      </div>
    </div>
    <div class="action-row">
      <div class="block">
        <ait-button
          [id]="'cancel'"
          [width]="'200px'"
          [title]="'CANCEL'"
          (click)="back()"
          [isDefault]="true"
        ></ait-button>

        <ait-button
          *ngIf="mode === 'EDIT'"
          [id]="'delete'"
          [width]="'200px'"
          [title]="'DELETE'"
          (click)="onDelete()"
          [isDefault]="true"
        >
        </ait-button>

        <ait-button
          *ngIf="mode !== 'VIEW'"
          [id]="'reset'"
          [width]="'200px'"
          [title]="'RESET'"
          (click)="resetForm()"
          [isDefault]="true"
        ></ait-button>

        <ait-button
          *ngIf="mode === 'NEW'"
          [id]="'saveAndContinue'"
          [title]="'SAVE & CONTINUE'"
          (click)="saveAndContinue()"
          [isDefault]="true"
        ></ait-button>

        <ait-button
          [id]="'saveAndClose'"
          *ngIf="(isChanged && mode === 'EDIT') || mode === 'NEW'"
          [width]="'200px'"
          [title]="'SAVE & CLOSE'"
          (click)="saveAndClose()"
          [isDefault]="true"
        >
        </ait-button>
        <ait-button
          *ngIf="!isChanged && mode === 'EDIT'"
          [id]="'saveAndClose'"
          [width]="'200px'"
          [title]="'SAVE & CLOSE'"
          [style]="'disabled'"
        ></ait-button>
      </div>
    </div>
  </div>
</ait-template-popup>


