<div
  [ngClass]="classContainer"
  style="width: 100%"
  [id]="id + '_menu_toc_item_' + LABEL"
>
  <div
    class="card__content_container"
    [nbSpinner]="loading"
    nbSpinnerStatus="primary"
  >
    <div
      class="header__card"
      *ngIf="!disableHeader"
      (click)="toggleExpan()"
      [style.padding]="padding"
    >
      <div style="flex-grow: 1" style="outline-color: #10529d">
        <div
          class="text__gradient menu_toc_item"
          [ngClass]="id + '_menu_toc_item'"
          [ngStyle]="styleLabel"
          [id]="'menu_item_' + LABEL"
        >
         {{ LABEL }}
        </div>
        <div
            [ngStyle]="styleContent"
        >
            {{content}}
        </div>
      </div>

      <div style="display: flex; position: relative">
        <div
          [id]="idBtn"
          class="button_header_card"
          *ngIf="actionBtn.length !== 0"
          [ngClass]="tooltip ? 'button_header_card disable' : ''"
          (click)="handleClickBtnHeader($event)"
          [nbTooltip]="buttonTitle"
          [nbTooltipTrigger]="buttonTitle ? 'hover' : 'noop'"
          [style.width]="widthBtn"
          [style]="''"
        >
          <span style="display: flex">
            <nb-icon style="color: #fff" [icon]="actionBtn[0].icon"></nb-icon>
            <span
              class="text"
              style="
                text-transform: uppercase;
                color: #ffffff;
                font-size: 10px;
                width: 100%;
                justify-content: space-evenly;
                margin-left: 2px;
                font-family: Open Sans, sans-serif;
                font-weight: bold;
              "
              >{{ buttonTitle }}</span
            >
          </span>
        </div>
        <nb-icon
          class="icon_expan"
          style="cursor: pointer"
          *ngIf="!isOpen"
          icon="arrow-ios-downward-outline"
        ></nb-icon>
        <nb-icon
          class="icon_expan"
          style="cursor: pointer"
          *ngIf="isOpen"
          icon="arrow-ios-upward-outline"
        ></nb-icon>
      </div>
    </div>
    <!-- <div class="divider" *ngIf="!disableHeader"></div> -->
    <div
      class="content"
      [ngStyle]="{
        'flex-direction': isColumn ? 'column' : 'row',
        'align-items': isColumn || isStart ? 'flex-start' : 'center',
        'height': isOpen ? 'auto' : height
      }"
      [ngClass]="isOpen ? null : 'isClose'"
    >
      <div class="lineHeader"></div>
      <div class="main" style="width: 100%;">
        <ng-content></ng-content>
      </div>
    </div>
  </div>
</div>
