<div class="template__popup" id="user_experience">
  <ait-text-gradient
    [content]="'What kind of work you’re open to'"
    id="form_edit_user_experience"
  ></ait-text-gradient>

  <div class="content__card">
    <div class="form__wrapper">
      <div class="input_inline">
        <ait-autocomplete-master
          [id]="'industry'"
          [label]="'INDUSTRY'"
          [required]="false"
          [collection]="'m_industry'"
          [maxItem]="50"
          [placeholder]="'Select'"
          [style]="{ width: '400px' }"
          (watchValue)="takeMasterValue($event, 'skills')"
          [defaultValue]=""
        ></ait-autocomplete-master>
      </div>
      <div class="input_inline">
        <ait-autocomplete-master-data
        [class]="'EXPERIENCE_LEVEL'"
          [id]="'experience_level'"
          [label]="'EXPERIENCE LEVEL'"
          [required]="false"
          [allowNew]="false"
          [maxItem]="1"
          [isSubmit]="isSubmit"
          [placeholder]="'Select'"
          [collection]="'sys_master_data'"
          [disableOutputDefault]="true"
          [isReset]="resetuserjobAlert"
          [isReadOnly]="resetuserjobAlert"
          (watchValue)="('')"
          [defaultValue]="''"
          [style]="{ width: '400px' }"
        ></ait-autocomplete-master-data>
      </div>
      <div class="input_inline">
        <ait-autocomplete-master-data
          [class]="'EMPLOYEE_TYPE'"
          [id]="'employement_type'"
          [label]="'EMPLOYEMENT TYPE'"
          [required]="false"
          [allowNew]="false"
          [maxItem]="1"
          [isSubmit]="isSubmit"
          [placeholder]="'Select'"
          [collection]="'sys_master_data'"
          [disableOutputDefault]="true"
          [isReset]="resetuserjobAlert"
          [isReadOnly]="resetuserjobAlert"
          (watchValue)="('')"
          [defaultValue]="''"
          [style]="{ width: '200px' }"
        ></ait-autocomplete-master-data>
      </div>

      <div class="input_inline">
        <ait-autocomplete-master
          [class]="'ADDRESS'"
          [id]="'location'"
          [label]="'LOCATION'"
          [required]="false"
          [collection]="'sys_master_data'"
          [maxItem]="50"
          [placeholder]="'Select'"
          [style]="{ width: '400px' }"
          (watchValue)="takeMasterValue($event, 'skills')"
          [defaultValue]=""
        ></ait-autocomplete-master>
      </div>
     
      <ait-error-message
        [id]="'errorDate'"
        [errors]="errorArr"
      ></ait-error-message>
      <div class="input_inline">
        <ait-datepicker
          [label]="'AVAILABLE TIME'"
          [placeholder]="'01/01/2021'"
          [id]="'start_date_from'"
          [style]="{ width: '170px' }"
          [isReset]="''"
          [defaultValue]=""
          (watchValue)="
            takeDatePickerValue($event?.value, 'certificate', 'issue_date_from')
          "
          [isSubmit]="isSubmit"
        ></ait-datepicker>

        <p class="label-datepiker">{{ '~' }}</p>

        <ait-datepicker
          [required]="false"
          [label]="''"
          [placeholder]="''"
          [id]="'start_date_to'"
          [style]="{ width: '170px' }"
          (watchValue)="
            takeDatePickerValue($event?.value, 'certificate', 'issue_date_to')
          "
          [defaultValue]=""
          [isReset]=""
          [isSubmit]="isSubmit"
        ></ait-datepicker>
      </div>
      <div class="input_inline">
        <ait-input-text
        [id]="'salary_from'"
        [label]="'SALARY'"
        [height]="'40px'"
        [width]="'170px'"
        [required]="false"
        [placeholder]="'1,000'"
        (watchValue)="takeInputValue($event, '')"
        [defaultValue]=""
        [isReset]=""
        [isSubmit]="isSubmit"
        [length]="400"
      ></ait-input-text>

        <p class="label-datepiker">{{ '~' }}</p>

        <ait-input-text
        [id]="'salary_to'"
        [height]="'40px'"
        [label]="' '"
        [width]="'170px'"
        [required]="false"
        [placeholder]="'5,000'"
        (watchValue)="takeInputValue($event, '')"
        [defaultValue]=""
        [isReset]=""
        [isSubmit]="isSubmit"
        [length]="400"
      ></ait-input-text>
      </div>
      <ait-error-message
        [id]="'errorDate'"
        [errors]="errorArr"
      ></ait-error-message>
    </div>
    </div>
    <ait-space></ait-space>
    <div
      class="sticky"
      style="
        min-width: 370px;
        display: flex;
        align-items: center;
        justify-content: space-between;
      "
    >
      <div class="button__group">
        <ait-button
          *ngIf="mode === 'EDIT' || mode === 'NEW'"
          [title]="'CANCEL'"
          [id]="'cancel'"
          [background]="
            'linear-gradient(89.75deg, #002b6e 0.23%, #2288cc 99.81%)'
          "
          [width]="'200px'"
          (click)="back()"
        ></ait-button>
        <ait-button
          *ngIf="mode === 'EDIT' || mode === 'NEW'"
          [title]="'RESET'"
          [id]="'reset'"
          [background]="
            'linear-gradient(89.75deg, #002b6e 0.23%, #2288cc 99.81%)'
          "
          [width]="'200px'"
          (click)="resetForm()"
        ></ait-button>
        <ait-button
          *ngIf="mode === 'EDIT'"
          [id]="'delete'"
          [title]="'DELETE'"
          [background]="
            'linear-gradient(89.75deg, #002b6e 0.23%, #2288cc 99.81%)'
          "
          [width]="'200px'"
          (click)="deleteUserById()"
        ></ait-button>
        <ait-button
          *ngIf="mode === 'NEW'"
          [title]="'SAVE & CONTINUE'"
          [background]="
            'linear-gradient(89.75deg, #002b6e 0.23%, #2288cc 99.81%)'
          "
          [id]="'saveContinue'"
          [width]="'200px'"
          (click)="saveAndContinue()"
        ></ait-button>

        <ait-button
          [id]="'saveClose'"
          *ngIf="(isChanged && mode === 'EDIT') || mode === 'NEW'"
          [width]="'200px'"
          [title]="'SAVE & CLOSE'"
          (click)="saveAndClose()"
          [background]="
            'linear-gradient(89.75deg, #002b6e 0.23%, #2288cc 99.81%)'
          "
        >
        </ait-button>
        <ait-button
          *ngIf="!isChanged && mode === 'EDIT'"
          [id]="'saveClose'"
          [width]="'200px'"
          [title]="'SAVE & CLOSE'"
          [style]="'disabled'"
        ></ait-button>

        <ait-button
          *ngIf="mode === 'VIEW'"
          [id]="'saveClose'"
          [width]="'200px'"
          [title]="'CLOSE'"
          (click)="back()"
          [background]="
            'linear-gradient(89.75deg, #002b6e 0.23%, #2288cc 99.81%)'
          "
        ></ait-button>
      </div>
    </div>
</div>
