<div class="template__popup" id="user_experience">
  <ait-text-gradient
    [content]="'What kind of work you’re open to'"
    id="form_edit_user_experience"
  ></ait-text-gradient>

  <div class="content__card">
    <div class="form__wrapper">
      <div class="input_inline">
        <ait-autocomplete-master-data
          [id]="'industry'"
          [label]="'INDUSTRY'"
          [required]="false"
          [collection]="'m_industry'"
          [maxItem]="50"
          [placeholder]="'Select'"
          [style]="{ width: '400px' }"
          (watchValue)="takeMasterValues($event, 'industry')"
          [defaultValue]="industrys"
          [isReset]="resetUserjobAlert.industry"
        ></ait-autocomplete-master-data>
      </div>
      <div class="input_inline">
        <ait-autocomplete-master-data
        [class]="'EXPERIENCE_LEVEL'"
          [id]="'experience_level'"
          [class]="'EXPERIENCE_LEVEL'"
          [label]="'EXPERIENCE LEVEL'"
          [required]="false"
          [allowNew]="false"
          [maxItem]="999"
          [isSubmit]="isSubmit"
          [placeholder]="'Select'"
          [disableOutputDefault]="true"
          [isReset]="resetUserjobAlert.experience_level"
          (watchValue)="takeMasterValues($event, 'experience_level')"
          [defaultValue]="experienceLevels"
          [style]="{ width: '400px' }"
        ></ait-autocomplete-master-data>
      </div>
      <div class="input_inline">
        <ait-autocomplete-master-data
          [class]="'EMPLOYEE_TYPE'"
          [id]="'employee_type'"
          [label]="'EMPLOYEMENT TYPE'"
          [required]="false"
          [allowNew]="false"
          [maxItem]="999"
          [isSubmit]="isSubmit"
          [placeholder]="'Select'"
          [collection]="'sys_master_data'"
          [disableOutputDefault]="true"
          [isReset]="resetUserjobAlert.employee_type"
          (watchValue)="takeMasterValues($event, 'employee_type')"
          [defaultValue]="employeeTypes"
          [style]="{ width: '200px' }"
        ></ait-autocomplete-master-data>
      </div>

      <div class="input_inline">
        <ait-autocomplete-master-data
          [class]="'ADDRESS'"
          [id]="'location'"
          [label]="'LOCATION'"
          [required]="false"
          [maxItem]="50"
          [placeholder]="'Select'"
          [style]="{ width: '400px' }"
          (watchValue)="takeMasterValues($event, 'location')"
          [defaultValue]="locations"
          [isReset]="resetUserjobAlert.location"
        ></ait-autocomplete-master-data>
      </div>
    
      <div class="start-date">
        <ait-datepicker
          [label]="'AVAILABLE TIME'"
          [placeholder]="'01/01/2021'"
          [id]="'start_date_from'"
          [style]="{ width: '180px' }"
          [isReset]="resetUserjobAlert.start_date_from"
          [defaultValue]="userjobAlert.controls['start_date_from'].value"
          (watchValue)="
            takeDatePickerValue($event?.value, 'userjobAlert', 'start_date_from')
          "
          [isSubmit]="isSubmit"
        ></ait-datepicker>

        <span style="margin-bottom: 12px">〜</span>


        <ait-datepicker
          [required]="false"
          [label]="''"
          [placeholder]="''"
          [id]="'start_date_to'"
          [style]="{ width: '180px' }"
          (watchValue)="
            takeDatePickerValue($event?.value, 'userjobAlert', 'start_date_to')
          "
          [defaultValue]="userjobAlert.controls['start_date_to'].value"
          [isReset]="resetUserjobAlert.start_date_to"
          [isSubmit]="isSubmit"
        ></ait-datepicker>
      </div>

      <ait-error-message
        [errors]="errorDate"
        [id]="'messagErrorDate'"
      ></ait-error-message>

      <div class="start-date">
        <ait-input-number
        [id]="'salary_from'"
        [label]="'SALARY'"
        [height]="'40px'"
        [widthInput]="'180px'"
        [required]="false"
        [placeholder]="'1,000'"
        (watchValue)="takeInputNumberValue($event,'userjobAlert', 'salary_from')"
        [defaultValue]="userjobAlert.controls['salary_from'].value"
        [isReset]="resetUserjobAlert.salary_from"
        [isSubmit]="isSubmit"
        [length]="400"
        [min]="0"
        [max]="999999999999"
      ></ait-input-number>

      <span style="margin-bottom: 12px">〜</span>

        <ait-input-number
        [id]="'salary_to'"
        [height]="'40px'"
        [label]="' '"
        [widthInput]="'180px'"
        [required]="false"
        [placeholder]="'5,000'"
        (watchValue)="takeInputNumberValue($event,'userjobAlert', 'salary_to')"
        [defaultValue]="userjobAlert.controls['salary_to'].value"
        [isReset]="resetUserjobAlert.salary_to"
        [isSubmit]="isSubmit"
        [length]="400"
        [min]="0"
        [max]="999999999999"
      ></ait-input-number>
      </div>

      <ait-error-message
        [id]="'errorSalary'"
        [errors]="errorSalary"
      ></ait-error-message>

    </div>
    </div>
    <ait-space></ait-space>
    <div
      class="sticky"
      style="
        min-width: 370px;
        display: flex;
        align-items: center;
        justify-content: space-between;
      "
    >
      <div class="button__group">
        <ait-button
          *ngIf="mode === 'EDIT'"
          [title]="'CANCEL'"
          [id]="'cancel'"
          [background]="
            'linear-gradient(89.75deg, #002b6e 0.23%, #2288cc 99.81%)'
          "
          [width]="'200px'"
          (click)="back()"
        ></ait-button>

        <ait-button
          *ngIf="mode === 'NEW'"
          [title]="'SKIP'"
          [id]="'skip'"
          [background]="
            'linear-gradient(89.75deg, #002b6e 0.23%, #2288cc 99.81%)'
          "
          [width]="'200px'"
          (click)="skip()"
        ></ait-button>

        <ait-button
          *ngIf="mode === 'EDIT' || mode === 'NEW'"
          [title]="'RESET'"
          [id]="'reset'"
          [background]="
            'linear-gradient(89.75deg, #002b6e 0.23%, #2288cc 99.81%)'
          "
          [width]="'200px'"
          (click)="resetForm()"
        ></ait-button>

        <ait-button
          [id]="'saveClose'"
          *ngIf="(isChanged && mode === 'EDIT') || (isChanged && mode === 'NEW')"
          [width]="'200px'"
          [title]="'SAVE'"
          (click)="saveAndClose()"
          [background]="
            'linear-gradient(89.75deg, #002b6e 0.23%, #2288cc 99.81%)'
          "
        >
        </ait-button>
        <ait-button
          *ngIf="!isChanged"
          [id]="'saveClose'"
          [width]="'200px'"
          [title]="'SAVE'"
          [style]="'disabled'"
        ></ait-button>

      </div>
    </div>
</div>
