<div class="template__popup">
    <ait-text-gradient
      [content]="'Basic information detail'"
      [id]="'onboarding-detail'"
    ></ait-text-gradient>
  
    <div class="content__card">
      <div class="input_inline">
        <ait-output-text
          [label]="'FIRST NAME'"
          [width]="'400px'"
          [value]="stateUserOnboarding.first_name"
          [id]="'first_name'"
        ></ait-output-text>
      </div>
      <div class="input_inline">
        <ait-output-text
          [label]="'LAST NAME'"
          [id]="'last_name'"
          [width]="'400px'"
          [value]="stateUserOnboarding.last_name"
        ></ait-output-text>
        </div>
        <div class="input_inline"  *ngIf="lang === 'ja_JP'">
          <ait-output-text
          *ngIf="lang === 'ja_JP'"
            [label]="'KATAKANA'"
            [id]="'katakana'"
            [width]="'400px'"
            [value]="stateUserOnboarding.katakana"
          ></ait-output-text>
        </div>
        <div class="input_inline"  *ngIf="lang === 'ja_JP'">
            <ait-output-text
            *ngIf="lang === 'ja_JP'"
              [label]="'ROMAJI'"
              [width]="'400px'"
              [value]="stateUserOnboarding.romaji"
              [id]="'romaji'"
            ></ait-output-text>
          </div>
          <div class="input_inline">
            <ait-output-text
              [label]="'GENDER'"
              [width]="'400px'"
              [value]="stateUserOnboarding.gender?.value"
              [id]="'gender'"
            ></ait-output-text>
          </div>
        <div class="start-date">
          <ait-datepicker
            [label]="'BORN ON DATE'"
            [id]="'bod'"
            [disable]="true"
            [styleInput]="{ color: '#8f9bb3', width: '180px' }"
            [defaultValue]="stateUserOnboarding.bod"
          ></ait-datepicker>
        </div>
        <div class="input_inline">
          <ait-output-text
            [label]="'PHONE NUMBER'"
            [id]="'phone_number'"
            [width]="'400px'"
            [value]="stateUserOnboarding.phone_number"
          ></ait-output-text>
        </div>
        <div class="input_inline">
            <ait-output-text
              [label]="'COUNTRY/REGION'"
              [id]="'country_region'"
              [width]="'400px'"
              [value]="stateUserOnboarding.country_region?.value"
            ></ait-output-text>
          </div>
          <div class="input_inline">
            <ait-output-text
              [label]="'PROVINCE/CITY'"
              [id]="'province_city'"
              [width]="'400px'"
              [value]="stateUserOnboarding.province_city?.value"
            ></ait-output-text>
          </div>
          <div class="input_inline">
            <ait-output-text
              [label]="'DISTRICT'"
              [id]="'district'"
              [width]="'400px'"
              [value]="stateUserOnboarding.district?.value"
            ></ait-output-text>
          </div>
          <div class="input_inline">
            <ait-output-text
              [label]="'WARD'"
              [id]="'ward'"
              [width]="'400px'"
              [value]="stateUserOnboarding.ward?.value"
            ></ait-output-text>
          </div>
          <div class="input_inline">
            <ait-output-text
              [label]="'ADDRESS'"
              [id]="'address'"
              [width]="'400px'"
              [value]="stateUserOnboarding.address"
            ></ait-output-text>
          </div>
          <div class="input_inline">
            <ait-output-text
              [label]="'ADDRESS'"
              [id]="'FLOOR/BUILDING'"
              [width]="'400px'"
              [value]="stateUserOnboarding.floor_building"
            ></ait-output-text>
          </div>
          <div class="input_inline">
            <ait-output-text
              [label]="'COMPANY WORKING'"
              [id]="'company_working'"
              [width]="'400px'"
              [value]="stateUserOnboarding.company_working?.value"
            ></ait-output-text>
          </div>
          <div class="input_inline">
            <ait-output-text
              [label]="'TITLE'"
              [id]="'title'"
              [width]="'400px'"
              [value]="stateUserOnboarding.title?.value"
            ></ait-output-text>
          </div>
          <div class="input_inline">
            <ait-output-text
              [label]="'INDUSTRY'"
              [id]="'industry'"
              [width]="'400px'"
              [value]="stateUserOnboarding.industry?.value"
            ></ait-output-text>
          </div>
      </div>
  </div>
  

