<div class="template__popup">
  <ait-text-gradient
    [content]="'title header'"
    [id]="'language-detail'"
  ></ait-text-gradient>

  <div class="content__card">
    <div class="input_inline">
      <ait-output-text
        [label]="'LANGUAGE'"
        [width]="'400px'"
        [value]="stateUserLanguage.language?.value"
        [id]="'language'"
      ></ait-output-text>
    </div>
    <div class="input_inline">
      <ait-output-text
        [label]="'PROFICIENCY'"
        [id]="'proficiency'"
        [width]="'400px'"
        [value]="stateUserLanguage.proficiency?.value"
      ></ait-output-text>
    </div>
    <div class="sticky">
      <div class="action-row">
        <ait-button
          [id]="'close'"
          [width]="'150px'"
          [title]="'close'"
          [background]="
            'linear-gradient(89.75deg, #002b6e 0.23%, #2288cc 99.81%)'
          "
        ></ait-button>
      </div>
    </div>
  </div>
</div>
