<div style="display: grid; justify-content: center">
    <h1>Component country</h1>
    <ait-country></ait-country>
    <ait-space></ait-space>

        <ait-autocomplete-master
            [id]="'skills'"
            [label]="'skills (max 50)'"
            [required]="true"
            [collection]="'m_skill'"
            [maxItem]="50"
            [placeholder]="'fill name and enter to add your skills' | translate"
            [style]="{ width: '400px' }"
            (watchValue)="takeMasterValue($event, 'skills')"
            [defaultValue]="Skills"
          ></ait-autocomplete-master>
</div>