<ait-toc-menu [id]="'メニュー'"></ait-toc-menu>
<div class="template__container">
  <div class="main__container user__wrapper">
    <ait-text-gradient
      [content]="'basic_infomation'"
      [id]="'basic_infomation'"
      [fontsize]="'36px'"
    ></ait-text-gradient>

    <div class="template__filter__container">
      <div class="template__input__area">
        <ait-card-content
          [styleDivider]="{'margin-left':'10px'}"
          [styleLabel]="{ 'font-size': '26px' }"
          tabindex="2"
          [isOpen]="true"
          [isStart]="true"
          [id]="'メニュー'"
          class="content"
          [label]="'basic_infomation' | translate"
          [disableHeader]="false"
          padding="'10px'"
        >
          <div class="left__side">
            <div style="padding-left: 10px">
              <ait-space [margin]="'7.25px'"></ait-space>
              <ng-container>
                <div class="input_inline">
                  <ait-output-text
                    [label]="'fist name'"
                    [width]="'200px'"
                    [value]="stateUserOnboarding.first_name"
                    [id]="'first_name'"
                  ></ait-output-text>
                </div>
              </ng-container>
              <ait-space [margin]="'7.25px'"></ait-space>
              <ng-container>
                <div class="input_inline" *ngIf="lang === 'ja_JP'">
                  <ait-output-text
                    *ngIf="lang === 'ja_JP'"
                    [label]="'katakana'"
                    [id]="'katakana'"
                    [width]="'200px'"
                    [value]="stateUserOnboarding.katakana"
                  ></ait-output-text>
                </div>
              </ng-container>
              <ait-space [margin]="'7.25px'"></ait-space>
              <ng-container>
                <div class="start-date">
                  <ait-datepicker
                    [label]="'BORN ON DATE'"
                    [id]="'bod'"
                    [disable]="true"
                    [styleInput]="{
                      color: '#8f9bb3',
                      width: '200px',
                      background: '#ffffff'
                    }"
                    [defaultValue]="stateUserOnboarding.bod"
                  ></ait-datepicker>
                </div>
              </ng-container>
              <ait-space [margin]="'7.25px'"></ait-space>
              <ng-container>
                <div class="textarea_inline">
                  <ait-label [label]="'ABOUT'" [id]="'about'"></ait-label>
                  <textarea
                    nbInput
                    style="
                      width: 400px;
                      color: #8f9bb3;
                      min-height: 131px;
                      margin-top: 10px;
                      background-color: transparent;
                      resize: none;
                    "
                    readonly
                    disabled
                    fullWidth
                    [value]="stateUserOnboarding.about || ''"
                    class="textarea"
                    [id]="'about'"
                  >
                  </textarea>
                </div>
              </ng-container>
            </div>
          </div>
          <!-- end left -->
          <div class="right__side">
            <div style="padding-left: 20px">
              <ait-space [margin]="'7.25px'"></ait-space>
              <ng-container>
                <div class="input_inline">
                  <ait-output-text
                    [label]="'LAST NAME'"
                    [id]="'last_name'"
                    [width]="'200px'"
                    [value]="stateUserOnboarding.last_name"
                  ></ait-output-text>
                </div>
              </ng-container>
              <ait-space [margin]="'7.25px'"></ait-space>

              <ng-container>
                <div class="input_inline" *ngIf="lang === 'ja_JP'">
                  <ait-output-text
                    *ngIf="lang === 'ja_JP'"
                    [label]="'romaji'"
                    [width]="'200px'"
                    [value]="stateUserOnboarding.romaji"
                    [id]="'romaji'"
                  ></ait-output-text>
                </div>
              </ng-container>
              <ait-space [margin]="'7.25px'"></ait-space>

              <ng-container>
                <div class="input_inline">
                  <ait-output-text
                    [label]="'GENDER'"
                    [width]="'200px'"
                    [value]="stateUserOnboarding.gender?.value"
                    [id]="'gender'"
                  ></ait-output-text>
                </div>
              </ng-container>
              <ait-space [margin]="'7.25px'"></ait-space>

              <ng-container>
                <div class="input_inline">
                  <ait-output-text
                    [label]="'PHONE NUMBER'"
                    [id]="'phone_number'"
                    [width]="'200px'"
                    [value]="stateUserOnboarding.phone_number"
                  ></ait-output-text>
                </div>
              </ng-container>
              <ait-space [margin]="'7.25px'"></ait-space>
            </div>
          </div>
        </ait-card-content>
        <ait-card-content
          [styleDivider]="{'margin-left':'10px'}"
          [styleLabel]="{ 'font-size': '26px' }"
          tabindex="2"
          [isOpen]="true"
          [isStart]="true"
          [id]="'メニュー'"
          class="content"
          [label]="'address' | translate"
          [disableHeader]="false"
          padding="'10px'"
        >
          <div class="left__side">
            <div style="padding-left: 10px">
              <ng-container>
                <div class="input_inline">
                  <ait-output-text
                    [label]="'coutry_region'"
                    [id]="'country_region'"
                    [width]="'200px'"
                    [value]="stateUserOnboarding.country_region?.value"
                  ></ait-output-text>
                </div>
                <div class="input_inline">
                  <ait-output-text
                    [label]="'province/city'"
                    [id]="'province_city'"
                    [width]="'200px'"
                    [value]="stateUserOnboarding.province_city?.value"
                  ></ait-output-text>
                </div>

                <div class="input_inline">
                  <ait-output-text
                    [label]="'Ward'"
                    [id]="'ward'"
                    [width]="'200px'"
                    [value]="stateUserOnboarding.ward?.value"
                  ></ait-output-text>
                </div>
                <div class="input_inline">
                  <ait-output-text
                    [label]="'Address'"
                    [id]="'address'"
                    [width]="'200px'"
                    [value]="stateUserOnboarding.address"
                  ></ait-output-text>
                </div>

                <div class="input_inline">
                  <ait-output-text
                    [label]="'company_working'"
                    [id]="'company working'"
                    [width]="'200px'"
                    [value]="stateUserOnboarding.company_working?.value"
                  ></ait-output-text>
                </div>
              </ng-container>
            </div>
          </div>
          <!-- end left -->
          <div class="right__side">
            <div style="padding-left: 20px">
              <ng-container>
                <div class="input_inline">
                  <ait-output-text
                    [label]="'postcode'"
                    [id]="'postcode'"
                    [width]="'200px'"
                    [value]="stateUserOnboarding.district?.value"
                  ></ait-output-text>
                </div>
                <div class="input_inline">
                  <ait-output-text
                    [label]="'district'"
                    [id]="'district'"
                    [width]="'200px'"
                    [value]="stateUserOnboarding.district?.value"
                  ></ait-output-text>
                </div>
                <div class="input_inline">
                  <ait-output-text
                    [label]="'Floor/Building'"
                    [id]="'FLOOR/BUILDING'"
                    [width]="'200px'"
                    [value]="stateUserOnboarding.floor_building"
                  ></ait-output-text>
                </div>
              </ng-container>
              <ait-space [margin]="'7.25px'"></ait-space>
            </div>
          </div>
        </ait-card-content>
        <ait-card-content
          [styleDivider]="{'margin-left':'10px'}"
          [styleLabel]="{ 'font-size': '26px' }"
          tabindex="2"
          [isOpen]="true"
          [isStart]="true"
          [id]="'メニュー'"
          class="content"
          [label]="'current_job_information' | translate"
          [disableHeader]="false"
          padding="'10px'"
        >
          <div class="left__side">
            <div style="padding-left: 10px">
              <ait-space [margin]="'7.25px'"></ait-space>
              <ng-container>
                <div class="input_inline">
                  <ait-output-text
                    [label]="'company_working'"
                    [id]="'district'"
                    [width]="'200px'"
                    [value]="stateUserOnboarding.company_working?.value"
                  ></ait-output-text>
                </div>
              </ng-container>
              <ait-space [margin]="'7.25px'"></ait-space>
              <ng-container>
                <div class="input_inline">
                  <ait-output-text
                    [label]="'your_title'"
                    [id]="'district'"
                    [width]="'200px'"
                    [value]="stateUserOnboarding.current_job_title?.value"
                  ></ait-output-text>
                </div>
              </ng-container>
              <ait-space [margin]="'7.25px'"></ait-space>
              <ng-container>
                <div class="input_inline">
                  <ait-output-text
                    [label]="'skills'"
                    [id]="'district'"
                    [width]="'400px'"
                    [value]="stateUserOnboarding.skills"
                  ></ait-output-text>
                </div>
              </ng-container>
              <ait-space [margin]="'7.25px'"></ait-space>
            </div>
          </div>
          <!-- end left -->
          <div class="right__side">
            <div style="padding-left: 20px">
              <ait-space [margin]="'7.25px'"></ait-space>
              <ng-container>
                <div class="input_inline">
                  <ait-output-text
                    [label]="'industry_working'"
                    [id]="'district'"
                    [width]="'200px'"
                    [value]="stateUserOnboarding.industry_working?.value"
                  ></ait-output-text>
                </div>
              </ng-container>
              <ait-space [margin]="'7.25px'"></ait-space>

              <ng-container>
                <div class="input_inline">
                  <ait-output-text
                    [label]="'your_level'"
                    [id]="'district'"
                    [width]="'200px'"
                    [value]="stateUserOnboarding.current_job_level?.value"
                  ></ait-output-text>
                </div>
              </ng-container>
              <ait-space [margin]="'7.25px'"></ait-space>
            </div>
          </div>
        </ait-card-content>
        <ait-card-content
          [styleDivider]="{'margin-left':'10px'}"
          [styleLabel]="{ 'font-size': '26px' }"
          [content]="'This setting is used to find the best job for you'"
          [styleContent]="{
            color: '#8F9BB3',
            'font-size': '12px',
            'margin-left':'10px'
          }"
          tabindex="2"
          [isOpen]="true"
          [isStart]="true"
          [id]="'メニュー'"
          class="content"
          [label]="'job_setting' | translate"
          [disableHeader]="false"
          padding="'10px'"
        >
          <div class="left__side">
            <div style="padding-left: 10px">
              <ait-space [margin]="'7.25px'"></ait-space>
              <ng-container>
                <div class="input_inline">
                  <ait-output-text
                    [label]="'industry'"
                    [id]="'district'"
                    [width]="'400px'"
                    [value]="jobSettingInfo.industryList"
                  >
                  </ait-output-text>
                </div>
              </ng-container>
              <ait-space [margin]="'7.25px'"></ait-space>
              <ng-container>
                <div class="input_inline">
                  <ait-output-text
                    [label]="'title'"
                    [id]="'job_setting_title'"
                    [width]="'400px'"
                    [value]="jobSettingInfo.job_setting_title?.value"
                  ></ait-output-text>
                </div>
              </ng-container>
              <ait-space [margin]="'7.25px'"></ait-space>
              <ng-container>
                <div class="input_inline">
                  <ait-output-text
                    [label]="'location'"
                    [id]="'location'"
                    [width]="'200px'"
                    [value]="jobSettingInfo.location?.value"
                  ></ait-output-text>
                </div>
              </ng-container>
              <ait-space [margin]="'7.25px'"></ait-space>
              <ng-container>
                <div class="input_inline">
                  <ait-output-text
                    [label]="'skills'"
                    [id]="'job_setting_skills'"
                    [width]="'400px'"
                    [value]="jobSettingInfo.skills"
                  ></ait-output-text>
                </div>
              </ng-container>
            </div>
          </div>
          <!-- end left -->
          <div class="right__side">
            <div style="padding-left: 20px">
              <ait-space [margin]="'7.25px'"></ait-space>
              <ng-container>
                <div class="input_inline">
                  <ait-output-text
                    [label]="'job_setting_level'"
                    [id]="'job_setting_level'"
                    [width]="'213px'"
                    [value]="jobSettingInfo.job_setting_level?.value"
                  ></ait-output-text>
                </div>
              </ng-container>
              <ait-space [margin]="'7.25px'"></ait-space>
              <ng-container>
                <div class="input_date">
                  <ait-output-text
                  [label]="'available time'"
                  [id]="'available_time'"
                  [width]="'213px'"
                  [value]="jobSettingInfo.available_time"
                    
                  ></ait-output-text>
                </div>
              </ng-container>
              <ait-space [margin]="'7.25px'"></ait-space>
            </div>
          </div>
        </ait-card-content>
      </div>
    </div>
    <ait-space [margin]="'37px'"></ait-space>
  </div>
</div>
