
<ng-container>
  <table class="table table-striped" style="width: 100%">
    <colgroup>
      <col style="min-width: 100px" />
      <col style="min-width: 250px" />
      <col style="min-width: 250px" />
      <col style="min-width: 250px" />
      <col style="min-width: 100px" />
      <col style="min-width: 100px" />
      <col style="min-width: 100px" />
      <col style="min-width: 200px" />
    </colgroup>
    <tr>
      <th class="header_th"></th>
      <th class="header_th" hidden></th>
      <th class="header_th">
        <span class="style_title">Name</span>
      </th>
      <th class="header_th">
        <span class="style_title">Start plan</span>
      </th>
      <th class="header_th">
        <span class="style_title">End plan</span>
      </th>
      <th class="header_th">
        <span class="style_title">Hours</span>
      </th>
      <th class="header_th">
        <span class="style_title">MD</span>
      </th>
      <th class="header_th">
        <span class="style_title">MM</span>
      </th>
      <th class="header_th">
        <span class="style_title">Remark</span>
      </th>
    </tr>
    <tr class="filter_row">
      <th></th>
      <th hidden></th>
      <th><input type="text" class="filter" placeholder="Filter" /></th>
      <th><input type="text" class="filter" placeholder="Filter" /></th>
      <th><input type="text" class="filter" placeholder="Filter" /></th>
      <th><input type="text" class="filter" placeholder="Filter" /></th>
      <th><input type="text" class="filter" placeholder="Filter" /></th>
      <th><input type="text" class="filter" placeholder="Filter" /></th>
      <th><input type="text" class="filter" placeholder="Filter" /></th>
    </tr>
    <tr *ngFor="let item of list_candidate" class="row_style">
      <td class="action">
        <button
          (click)="handleClickEdit(item._key)"
          *ngIf="!isEdit && item._key !=_key; else saveCancel"
          class="btn_table"
        >
          <nb-icon
            icon="pen"
            pack="font-awesome-fas"
            _nghost-rdx-c86=""
            ng-reflect-icon="pen"
            ng-reflect-pack="font-awesome-fas"
            class="fas fa-pen"
          ></nb-icon>
          
        </button>
        <ng-template #saveCancel>
          <ng-container *ngIf="item._key ===_key && isEdit; else cancelSave">
            <div class="group_btn_save_cancel">
              <button (click)="handleClickSave()" class="btn_table">
                <nb-icon
                icon="pen"
                pack="font-awesome-fas"
                _nghost-rdx-c86=""
                ng-reflect-icon="save"
                ng-reflect-pack="font-awesome-fas"
                class="fas fa-save"
              ></nb-icon>
               
              </button>
              <button (click)="handleClickCancel()" class="btn_table">
                <nb-icon
                icon="pen"
                pack="font-awesome-fas"
                _nghost-rdx-c86=""
                ng-reflect-icon="times"
                ng-reflect-pack="font-awesome-fas"
                class="fas fa-times"
              ></nb-icon>
                
              </button>
            </div>
            </ng-container
          >
        </ng-template>
        <ng-template #cancelSave>
          <button
            (click)="handleClickEdit(item._key)"
            *ngIf="!isEdit || item._key !=_key; else saveCancel"
            class="btn_table"
          >
            <nb-icon
              icon="pen"
              pack="font-awesome-fas"
              _nghost-rdx-c86=""
              ng-reflect-icon="pen"
              ng-reflect-pack="font-awesome-fas"
              class="fas fa-pen"
            ></nb-icon>
          </button></ng-template
        >
      </td>
      <td hidden>
        <ng-container *ngIf="item._key ===_key">
        <ait-input-text
        [readonly]="true"
        [defaultValue]="item._key"
        [id]="'_key'"
        (watchValue)="takeInputValue($event, '_key')">
        </ait-input-text>
      </ng-container>
      </td>
      <td>
        <span *ngIf="!isEdit && item._key !=_key; else elseEdit">
          <!-- {{ item.first_name + ' ' + item.last_name }} -->{{item.employee_name }}
        </span>

        <ng-template #elseEdit>
          <ng-container *ngIf="item._key ===_key && isEdit; else nameEdit"
            ><ait-autocomplete-master-data
              *ngIf="employeeList.length > 0"
              [id]="'employee_name'"
              [width]="'200px'"
              [required]="true"
              [maxItem]="1"
              [isReset]="isReset"
              [isSubmit]="isSubmit"
              [placeholder]="'please select employee'"
              [dataSource]="employeeList"
              [defaultValue]="[item.user_id]"
              (watchValue)="takeMasterValue($event.value, 'employee_name')"
            ></ait-autocomplete-master-data
          ></ng-container>
        </ng-template>
        <ng-template #nameEdit>
          <span>{{ item.employee_name }}</span></ng-template
        >
      </td>
      <td>
        <span *ngIf="!isEdit && item._key !=_key; else editStartPlan">
          {{ item.start_plan_format }}
        </span>
        <ng-template #editStartPlan>
          <ng-container *ngIf="item._key ===_key && isEdit; else startPlanEdit">
            <ait-datepicker
              [placeholder]="'yyyyy/MM/dd'"
              [id]="'start_plan'"
              [style]="{ width: '170px', marginTop: '-10px' }"
              [isReset]="isReset"
              [defaultValue]="item.start_plan"
              (watchValue)="
              takeDatePickerValue($event?.value, 'candidateEdit', 'start_plan')
            "
            ></ait-datepicker
          ></ng-container>
        </ng-template>
        <ng-template #startPlanEdit>
          <span>{{ item.start_plan_format }}</span></ng-template
        >
      </td>
      <td>
        <span *ngIf="!isEdit && item._key !=_key; else editEndPlan">
          {{ item.end_plan_format}}
        </span>
        <ng-template #editEndPlan>
          <ng-container *ngIf="item._key ===_key && isEdit; else endPlanEdit">
            <ait-datepicker
              [placeholder]="'yyyyy/MM/dd'"
              [id]="'end_plan'"
              [style]="{ width: '170px', marginTop: '-10px' }"
              [isReset]="isReset"
              [defaultValue]="item.end_plan"
              (watchValue)="
            takeDatePickerValue($event?.value, 'candidateEdit', 'end_plan')
          "
            ></ait-datepicker
          ></ng-container>
        </ng-template>
        <ng-template #endPlanEdit>
          <span>{{ item.end_plan_format}}</span></ng-template
        >
      </td>

      <td>
        <span *ngIf="!isEdit && item._key !=_key; else editHours">
          {{ item.hours_plan }}
        </span>
        <ng-template #editHours>
          <ng-container *ngIf="item._key ===_key && isEdit; else HoursEdit">
          <ait-input-number
          [defaultValue]="item.hours_plan"
          [id]="'hours_plan'"
          [styleInput]="{  background:'#ffffff' }"
          [widthInput]="'100px'"
          (watchValue)="
            takeInputNumberValue($event, 'candidateEdit', 'hours_plan')
          "
        ></ait-input-number>
        
        </ng-container>
        </ng-template>
        <ng-template #HoursEdit>
          <span>{{ item.hours_plan }}</span></ng-template
        >
      </td>
      <td>
        <span *ngIf="!isEdit && item._key !=_key; else editMd">
          {{ item.manday_plan }}
        </span>
        <ng-template #editMd>
          <ng-container *ngIf="item._key ===_key && isEdit; else mdEdit">
          <ait-input-number
          [defaultValue]="item.manday_plan"
          [id]="'manday_plan'"
          [styleInput]="{  background:'#ffffff' }"
          [widthInput]="'100px'"
          (watchValue)="
            takeInputNumberValue($event, 'candidateEdit', 'manday_plan')
          "
        ></ait-input-number>
        </ng-container>
        </ng-template>
        <ng-template #mdEdit>
          <span>{{ item.manday_plan }}</span></ng-template
        >
      </td>
      <td>
        <span *ngIf="!isEdit && item._key !=_key; else editMm">
          {{ item.manmonth_plan }}
        </span>
        <ng-template #editMm>
          <ng-container *ngIf="item._key ===_key && isEdit; else mmEdit">
          <ait-input-number
          [defaultValue]="item.manmonth_plan"
          [id]="'manmonth_plan'"
          [styleInput]="{  background:'#ffffff' }"
          [widthInput]="'100px'"
          (watchValue)="
          takeInputNumberValue($event, 'candidateEdit', 'manmonth_plan')
        "
        ></ait-input-number>
        </ng-container>
        </ng-template>
        <ng-template #mmEdit>
          <span>{{ item.manmonth_plan }}</span></ng-template
        >
      </td>
      <td>
        <span *ngIf="!isEdit && item._key !=_key; else editRemark"> {{ item.remark }} </span>
        <ng-template #editRemark>
          <ng-container *ngIf="item._key ===_key && isEdit; else remarkEdit">
          <ait-input-text
          [id]="'remark'"
          [length]="1000"
          [width]="'200px'"
          [isSubmit]="false"
          [isReset]="false"
          (watchValue)="takeInputValue($event, 'remark')"
          [defaultValue]="
          item.remark
          "
        ></ait-input-text>
        
        </ng-container>
        </ng-template>
        <ng-template #remarkEdit>
          <span>{{ item.remark }}</span></ng-template
        >
      </td>
    </tr>
  </table>
</ng-container>
