<div id="company__info__wrapper">
  <ait-text-gradient 
    [content]="'Reorder skills' | translate"
    [id]="'title'"
    ></ait-text-gradient>
  <div class="content__card" >
    <div class="step-container" cdkDropListGroup>
      <div
        class="category-area"
        *ngFor="let category of reorderSkills"       
        style="background: white"
      >
        <div
          cdkDropList id="{{category.name}}" 
          [cdkDropListData]="category.data"
          (cdkDropListDropped)="drop($event, category)"
          [cdkDropListEnterPredicate]="evenPredicate"
          class="example-list"
        >
        <div class="skill-block">
          <nb-icon nbSuffix icon="menu-2-outline" pack="eva"></nb-icon>{{ category.name }}
        </div>
          <div *ngFor="let skill of category.data"  
            cdkDrag
            CdkDragPlaceholder
          >
            <div
              class="col-md-12"
              class="skill-element"
            >
              <button
                nbButton
                ghost
                (click)="passToChange(skill, category)"
              >
                <nb-icon
                  *ngIf="skill._key"
                  nbSuffix
                  icon="star"
                  pack="eva"
                  [ngStyle]="{
                    color: category.name === 'TOP5' ? '#ffdf00' : '#dad7cd'
                  }"
                ></nb-icon>
              </button>
              <span nbTooltip="{{ skill.name }}">{{ skill.name }}</span>
              <div class="float-right">
                <button
                  nbButton
                  ghost
                  class="remove-btn"
                  (click)="removeSkill(category, skill)"
                  nbTooltip="{{ 'matching.reorder_skill.click' | translate }}"
                >
                  <nb-icon
                    *ngIf="skill._key"
                    nbSuffix
                    icon="close-outline"
                    pack="eva"
                    style="vertical-align: middle; color: #231f20"
                  ></nb-icon>
                </button>
                <button
                  nbButton
                  ghost
                  nbTooltip="{{ 'matching.reorder_skill.drag' | translate }}"
                >
                  <nb-icon
                    *ngIf="skill._key"
                    nbSuffix
                    icon="menu-outline"
                    pack="eva"
                    style="vertical-align: middle; color: #231f20"
                  ></nb-icon>
                </button>
              </div>
            </div>

          </div>
        </div>
        
      </div>
    </div>
  </div>
  <ait-space></ait-space>
  <div class="action-row">
    <div class="block">
      <ait-button
        [id]="'cancel'"
        [title]="'CANCEL'"
        [isDefault]="true"
        nbSpinnerStatus="primary"
        [tabIndex]="40"
        (click)="cancel()"
        [background]="
          'linear-gradient(89.75deg, #002b6e 0.23%, #2288cc 99.81%)'
        "
      ></ait-button>

      <ait-button
      *ngIf="isChanged"
        [id]="'saveClose'"
        [width]="'200px'"
        [title]="'SAVE & CLOSE'"
        (click)="save()"
        [background]="
          'linear-gradient(89.75deg, #002b6e 0.23%, #2288cc 99.81%)'
        "
      ></ait-button>

      <ait-button
        *ngIf="!isChanged"
        [id]="'disabled'"
        [width]="'200px'"
        [title]="'SAVE & CLOSE'"
        [style]="'disabled'"
      ></ait-button>
    </div>
  </div>
</div>
