<div class="user__onboarding__wrapper" id="user_onboarding">
  <ait-text-gradient
    [content]="getTitleByMode()"
    id="form_edit_user_onboarding"
  ></ait-text-gradient>
  <ait-card-content style="justify-content: center" class="content__card">
    <div style="margin-top: 14px">
      <div class="input_area">
        <ait-input-text
          [id]="'first_name'"
          [label]="'firstname'"
          [length]="200"
          [required]="true"
          [isSubmit]="isSubmit"
          [isReset]="resetUserInfo.first_name"
          [readonly]="userOnbInfo.first_name"
          [placeholder]="'first_name_plh'"
          (watchValue)="takeInputValue($event, 'first_name')"
          [defaultValue]="userOnboardingInfo.controls['first_name'].value"
        ></ait-input-text>
      </div>
      <div class="input_area">
        <ait-input-text
          [id]="'last_name'"
          [label]="'lastname'"
          [length]="200"
          [required]="true"
          [isSubmit]="isSubmit"
          [isReset]="resetUserInfo.last_name"
          [readonly]="userOnbInfo.last_name"
          [placeholder]="'last_name_plh'"
          (watchValue)="takeInputValue($event, 'last_name')"
          [defaultValue]="userOnboardingInfo.controls['last_name'].value"
        ></ait-input-text>
      </div>
      <div class="input_area">
        <ait-input-text
          *ngIf="isLangJP"
          [id]="'katakana'"
          [label]="'katakana'"
          [length]="200"
          [required]="true"
          [isSubmit]="isSubmit"
          [isReset]="resetUserInfo.katakana"
          [readonly]="userOnbInfo.katakana"
          [placeholder]="'katakana_plh'"
          (watchValue)="takeInputValue($event, 'katakana')"
          [defaultValue]="userOnboardingInfo.controls['katakana'].value"
        ></ait-input-text>
      </div>
      <div class="input_area">
        <ait-input-text
          *ngIf="isLangJP"
          [id]="'romaji'"
          [label]="'romaji'"
          [length]="200"
          [required]="true"
          [isSubmit]="isSubmit"
          [isReset]="resetUserInfo.romaji"
          [readonly]="userOnbInfo.romaji"
          [placeholder]="'romaji_plh'"
          (watchValue)="takeInputValue($event, 'romaji')"
          [defaultValue]="userOnboardingInfo.controls['romaji'].value"
        ></ait-input-text>
      </div>
      <div class="input_area">
        <ait-label
          class="ait-label"
          [label]="'gender'"
          id="gender"
          [required]="true"
        ></ait-label>
        <div>
          <nb-radio-group>
            <nb-radio
              [tabIndex]="5"
              *ngFor="let option of genderList; let isDefault = three"
              [value]="option"
              [checked]="
                userOnboardingInfo.controls['gender'].value
                  ? userOnboardingInfo.controls['gender'].value?._key ==
                    option.code
                  : isDefault
              "
              (valueChange)="takeGenderValue($event)"
            >
              {{ option.name }}
            </nb-radio>
          </nb-radio-group>
        </div>
      </div>
      <div class="input_area">
        <ait-datepicker
          [id]="'bod'"
          [label]="'bod'"
          [required]="true"
          [isSubmit]="isSubmit"
          [style]="{ width: '180px' }"
          [isReset]="resetUserInfo.bod"
          [placeholder]="'1985/01/01'"
          (watchValue)="
            takeDatePickerValue($event?.value, 'userOnboardingInfo', 'bod')
          "
          [dateInput]="userOnboardingInfo.controls['bod'].value"
        ></ait-datepicker>
      </div>
      <div class="input_area">
        <ait-input-text
          [length]="15"
          [required]="true"
          [isSubmit]="isSubmit"
          [id]="'phone_number'"
          [label]="'phonenumber'"
          [placeholder]="'phone_number_plh'"
          [isReset]="resetUserInfo.phone_number"
          [readonly]="userOnbInfo.phone_number"
          (watchValue)="takeInputValue($event, 'phone_number')"
          [defaultValue]="userOnboardingInfo.controls['phone_number'].value"
        >
        </ait-input-text>
      </div>
      <div class="input_area">
        <ait-input-text
          [rows]="4"
          [id]="'about'"
          [length]="4000"
          [label]="'about'"
          [width]="'410px'"
          [placeholder]="'about_plh'"
          [isReset]="resetUserInfo.about"
          [readonly]="userOnbInfo.about"
          (watchValue)="takeInputValue($event, 'about')"
          [defaultValue]="userOnboardingInfo.controls['about'].value"
        >
        </ait-input-text>
      </div>
      <div class="input_area">
        <ait-autocomplete-master-data
          [maxItem]="1"
          [id]="'country'"
          [label]="'country'"
          [class]="'COUNTRY'"
          [required]="true"
          [isSubmit]="isSubmit"
          [placeholder]="'country_plh'"
          [collection]="'sys_master_data'"
          [disableOutputDefault]="true"
          [isReset]="resetUserInfo.country"
          [isReadOnly]="userOnbInfo.country"
          (watchValue)="takeMasterValue($event, 'country')"
          [defaultValue]="[userOnboardingInfo.controls['country'].value]"
        ></ait-autocomplete-master-data>
      </div>
      <div class="input_area">
        <ait-input-text
          [id]="'postcode'"
          [placeholder]="'postcode_plh'"
          [label]="'postcode'"
          [required]="true"
          [length]="20"
          [isSubmit]="isSubmit"
          [isReset]="resetUserInfo.postcode"
          [readonly]="userOnbInfo.postcode"
          (watchValue)="takeInputValue($event, 'postcode')"
          [defaultValue]="userOnboardingInfo.controls['postcode'].value"
        >
        </ait-input-text>
      </div>
      <div class="input_area">
        <ait-autocomplete-master-data
          [id]="'city'"
          [maxItem]="1"
          [label]="'city'"
          [class]="'CITY'"
          [required]="true"
          [placeholder]="'city_plh'"
          [collection]="'sys_master_data'"
          [isReadOnly]="userOnbInfo.city"
          [parentCode]="countryCode"
          [isSubmit]="isSubmit"
          [disableOutputDefault]="true"
          [isReset]="resetUserInfo.city"
          (watchValue)="takeMasterValue($event, 'city')"
          [defaultValue]="[userOnboardingInfo.controls['city'].value]"
        ></ait-autocomplete-master-data>
      </div>
      <div class="input_area">
        <ait-autocomplete-master-data
          [maxItem]="1"
          [id]="'district'"
          [label]="'district'"
          [required]="true"
          [class]="'DISTRICT'"
          [isSubmit]="isSubmit"
          [parentCode]="cityCode"
          [disableOutputDefault]="true"
          [placeholder]="'district_plh'"
          [collection]="'sys_master_data'"
          [isReadOnly]="userOnbInfo.district"
          [isReset]="resetUserInfo.district"
          (watchValue)="takeMasterValue($event, 'district')"
          [defaultValue]="[userOnboardingInfo.controls['district'].value]"
        ></ait-autocomplete-master-data>
      </div>
      <div class="input_area">
        <ait-autocomplete-master-data
          [id]="'ward'"
          [label]="'ward'"
          [required]="true"
          [maxItem]="1"
          [placeholder]="'ward_plh'"
          [collection]="'sys_master_data'"
          [class]="'WARD'"
          [isReadOnly]="userOnbInfo.ward"
          [parentCode]="districtCode"
          [isSubmit]="isSubmit"
          [disableOutputDefault]="true"
          [isReset]="resetUserInfo.ward"
          (watchValue)="takeMasterValue($event, 'ward')"
          [defaultValue]="[userOnboardingInfo.controls['ward'].value]"
        ></ait-autocomplete-master-data>
      </div>
      <div class="input_area">
        <ait-input-text
          [id]="'address'"
          [length]="500"
          [required]="true"
          [label]="'address'"
          [placeholder]="'address_plh'"
          [isReset]="resetUserInfo.address"
          [isSubmit]="isSubmit"
          [readonly]="userOnbInfo.address"
          (watchValue)="takeInputValue($event, 'address')"
          [defaultValue]="userOnboardingInfo.controls['address'].value"
        >
        </ait-input-text>
      </div>
      <div class="input_area">
        <ait-input-text
          [id]="'floor_building'"
          [length]="500"
          [label]="'floor_building'"
          [placeholder]="'floor_building_plh'"
          [isReset]="resetUserInfo.floor_building"
          [readonly]="userOnbInfo.floor_building"
          (watchValue)="takeInputValue($event, 'floor_building')"
          [defaultValue]="userOnboardingInfo.controls['floor_building'].value"
        >
        </ait-input-text>
      </div>
      <div class="input_area">
        <ait-autocomplete-master-data
          [id]="'company_working'"
          [label]="'company_working'"
          [isSubmit]="isSubmit"
          [allowNew]="true"
          [maxItem]="1"
          [placeholder]="'company_plh'"
          [collection]="'sys_company'"
          [disableOutputDefault]="true"
          [isReset]="resetUserInfo.company_working"
          [isReadOnly]="userOnbInfo.company_working"
          (watchValue)="takeMasterValue($event, 'company_working')"
          [defaultValue]="[
            userOnboardingInfo.controls['company_working'].value
          ]"
        ></ait-autocomplete-master-data>
      </div>
      <div class="input_area">
        <ait-autocomplete-master-data
          [id]="'title'"
          [label]="'title'"
          [isSubmit]="isSubmit"
          [allowNew]="true"
          [maxItem]="1"
          [placeholder]="'title_plh'"
          [collection]="'m_title'"
          [disableOutputDefault]="true"
          [isReset]="resetUserInfo.title"
          [isReadOnly]="userOnbInfo.title"
          (watchValue)="takeMasterValue($event, 'title')"
          [defaultValue]="[userOnboardingInfo.controls['title'].value]"
        ></ait-autocomplete-master-data>
      </div>
      <div class="input_area">
        <ait-autocomplete-master-data
          [id]="'industry'"
          [label]="'industry'"
          [required]="true"
          [isSubmit]="isSubmit"
          [allowNew]="true"
          [maxItem]="1"
          [placeholder]="'Computer Software'"
          [collection]="'m_industry'"
          [disableOutputDefault]="true"
          [isReset]="resetUserInfo.industry"
          [isReadOnly]="userOnbInfo.industry"
          (watchValue)="takeMasterValue($event, 'industry')"
          [defaultValue]="[userOnboardingInfo.controls['industry'].value]"
        ></ait-autocomplete-master-data>
      </div>
      <div *ngIf="mode === 'NEW'" class="input_area">
        <ait-autocomplete-master-data
          [id]="'skills'"
          [label]="'skills'"
          [required]="true"
          [isSubmit]="isSubmit"
          [allowNew]="true"
          [maxItem]="10"
          [placeholder]="'skill_plh'"
          [collection]="'m_skill'"
          [disableOutputDefault]="true"
          [isReset]="resetUserInfo.skills"
          (watchValue)="
            takeMasterValues($event?.value, 'userOnboardingInfo', 'skills')
          "
        ></ait-autocomplete-master-data>
      </div>
    </div>
  </ait-card-content>
  <div class="sticky">
    <div class="action-row">
      <div class="block">
        <ait-button
          *ngIf="mode !== 'VIEW'"
          [id]="'cancel'"
          [title]="'cancel'"
          [isDefault]="true"
          (click)="back()"
        ></ait-button>

        <ait-button
          *ngIf="mode === 'EDIT'"
          [id]="'delete'"
          [width]="'200px'"
          [title]="'delete'"
          [isDefault]="true"
          (click)="onDelete()"
        >
        </ait-button>

        <ait-button
          *ngIf="mode !== 'VIEW'"
          [id]="'reset'"
          [width]="'200px'"
          [title]="'reset'"
          [isDefault]="true"
          (click)="resetForm()"
        >
        </ait-button>

        <ait-button
          *ngIf="(isChanged && mode === 'EDIT') || mode === 'NEW'"
          [id]="'save'"
          [width]="'200px'"
          [title]="'save'"
          (click)="save()"
          [isDefault]="true"
        >
        </ait-button>
        <ait-button
          *ngIf="!isChanged && mode === 'EDIT'"
          [id]="'save'"
          [width]="'200px'"
          [title]="'save'"
          [style]="'disabled'"
        ></ait-button>
      </div>
    </div>
  </div>
</div>
