<ait-template-popup [isLoading]="isLoading" [actionButtons]="buttons">
    <div class="col-12">
      <div class="title">
        <h1>{{ "matching.profile.reorder_skill" | translate }}</h1>
      </div>
      <div class="step-container" cdkDropListGroup>
        <div
          class="category-area"
          *ngFor="let category of skillByCategory"
          (cdkDropListDropped)="drop($event)"
          cdkDropList
          style="background: white"
        >
          <div class="skill-block">
            <nb-icon nbSuffix icon="menu-2-outline" pack="eva"></nb-icon>
            {{ category.name }}
          </div>
          <div *ngFor="let skill of category.data">
            <div
              class="col-md-12"
              class="skill-element"
              cdkDrag
              [cdkDragData]="skill"
              *ngIf="
                (category.name === 'TOP5' && skill.top_skill === true) ||
                (category.name !== 'TOP5' && skill.top_skill === false)
              "
            >
              <button
                nbButton
                ghost
                (click)="passToChange(skill)"
                [nbTooltip]="
                  category.name === 'TOP5'
                    ? ('matching.reorder_skill.remove' | translate)
                    : ('matching.reorder_skill.add' | translate)
                "
              >
                <nb-icon
                  *ngIf="skill._key"
                  nbSuffix
                  icon="star"
                  pack="eva"
                  [ngStyle]="{
                    color: category.name === 'TOP5' ? '#ffdf00' : '#dad7cd'
                  }"
                ></nb-icon>
              </button>

              <span
                nbTooltip="{{ skill.name }}">{{ skill.name }}
              </span>

              <div class="float-right">
                <button
                  nbButton
                  ghost
                  class="remove-btn"
                  (click)="removeSkill(category.name, skill.name)"
                  nbTooltip="{{ 'matching.reorder_skill.click' | translate }}"
                >
                  <nb-icon
                    *ngIf="skill._key"
                    nbSuffix
                    icon="close-outline"
                    pack="eva"
                    style="vertical-align: middle; color: #231f20"
                  ></nb-icon>
                </button>
                <button
                  nbButton
                  ghost
                  nbTooltip="{{ 'matching.reorder_skill.drag' | translate }}"
                >
                  <nb-icon
                    *ngIf="skill._key"
                    nbSuffix
                    icon="menu-outline"
                    pack="eva"
                    style="vertical-align: middle; color: #231f20"
                  ></nb-icon>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ait-template-popup>
  
