<ait-template-popup [width]="800" [isLoading]="true" [isPage]="false">
<div class="user__wrapper">
    <ait-text-gradient
      [content]="'title header'"
      [id]="'experience-detail'"
    ></ait-text-gradient>
    <div class="content__card">
      <div class="form">
        <div class="input_inline">
          <ait-output-text
            [label]="'title'"
            [width]="'400px'"
            [value]="stateUserExp.title?.value"
            [id]="'title'"
          ></ait-output-text>
        </div>
        <div class="input_inline">
          <ait-output-text
            [label]="'company'"
            [id]="'company_working'"
            [width]="'400px'"
            [value]="stateUserExp.company_working?.value"
          ></ait-output-text>
          </div>
          <div class="input_inline">
            <ait-output-text
              [label]="'location'"
              [id]="'location'"
              [width]="'400px'"
              [value]="stateUserExp.location?.value"
            ></ait-output-text>
          </div>
          <div class="input_inline">
              <ait-output-text
                [label]="'employee type'"
                [width]="'400px'"
                [value]="stateUserExp.employee_type?.value"
                [id]="'employee_type'"
              ></ait-output-text>
            </div>
            <div class="input_inline">
              <div class="input_area" style="display: flex; align-items: center; height: 30px;">
                <nb-checkbox
                style="display: flex; align-items: center;"
                  [disabled]="true "
                  class="gray-text"
                  [checked]="stateUserExp.is_working"
                  [id]="'is_online'"
                >
                  <p id="online" style="margin: 0;color: #8f9bb3; font-size: 12px;">{{ 'i am currently working in this role' | translate }}</p>
                </nb-checkbox>
              </div>
            </div>
          <div class="start-date" >
            <ait-datepicker
              [label]="'start date'"
              [id]="'start_date_from'"
              [format]="dateFormat"
              [disable]="true"
              [useFormat]="true"
              [styleInput]="{ color: '#8f9bb3', width: '180px', background:'#ffffff'}"
              [defaultValue]="stateUserExp.start_date_from"
            ></ait-datepicker>
            <span style="margin-bottom: 4px">〜</span>
            <ait-datepicker
              [id]="'start_date_to'"
              [format]="dateFormat"
              [disable]="true"
              [useFormat]="true"
              [styleInput]="{ color: '#8f9bb3', width: '180px', background:'#ffffff' }"
              [defaultValue]="stateUserExp.start_date_to"
            ></ait-datepicker>
          </div>
          <div class="textarea_inline" >
            <ait-label
              [label]="'DESCRIPTION'"
              [id]="'description'"
            ></ait-label>
    
            <textarea
              nbInput
              style="width: 400px; color: #8f9bb3; min-height: 131px;margin-top:10px; background-color: transparent;resize: none;"
              readonly
              disabled
              fullWidth
              [value]="stateUserExp.description || ''"
              class="textarea"
              [id]="'description'"
            >
            </textarea>
          </div>
          
        </div>
    </div>
    <div class="sticky">
      <div class="action-row">
        <div class="block">
        <ait-button
          (click)="close()"
          [id]="'close'"
          [width]="'150px'"
          [title]="'close'"
          [background]="
            'linear-gradient(89.75deg, #002b6e 0.23%, #2288cc 99.81%)'
          "
        ></ait-button>
      </div>
      </div>
    </div>
  </div>
</ait-template-popup>
  


