<div class="user__wrapper">
  <ait-text-gradient
    [content]="'title header'"
    [id]="'education-detail'"
  ></ait-text-gradient>
  <div class="content__card">
    <div class="form">
      <div class="input_inline">
        <ait-output-text
          [label]="'SCHOOL'"
          [width]="'400px'"
          [value]="stateUserEducation.school?.value"
          [id]="'school'"
        ></ait-output-text>
      </div>
      <div class="input_inline">
        <ait-output-text
          [label]="'DEGREE'"
          [id]="'degree'"
          [width]="'400px'"
          [value]="stateUserEducation.degree"
        ></ait-output-text>
      </div>
      <div class="input_inline">
        <ait-output-text
          [label]="'FIELD OF STUDY'"
          [id]="'field_of_study'"
          [width]="'400px'"
          [value]="stateUserEducation.field_of_study"
        ></ait-output-text>
      </div>
      <div class="input_inline">
        <ait-output-text
          [label]="'GRADE'"
          [id]="'grade'"
          [width]="'400px'"
          [value]="stateUserEducation.grade"
        ></ait-output-text>
      </div>
      <div class="start-date">
        <ait-datepicker
          [label]="'start date'"
          [id]="'start_date_from'"
          [format]="dateFormat"
          [disable]="true"
          [styleInput]="{ color: '#8f9bb3', width: '180px' }"
          [defaultValue]="stateUserEducation.start_date_from"
        ></ait-datepicker>
        <span style="margin-bottom: 4px">〜</span>
        <ait-datepicker
          [id]="'start_date_to'"
          [format]="dateFormat"
          [disable]="true"
          [styleInput]="{ color: '#8f9bb3', width: '180px' }"
          [defaultValue]="stateUserEducation.start_date_to"
        ></ait-datepicker>
      </div>
      <div class="input_inline">
        <ait-label [label]="'DESCRIPTION'" [id]="'description'"></ait-label>

        <textarea
          nbInput
          style="
            width: 400px;
            color: #8f9bb3;
            min-height: 131px;
            margin-top: 10px;
            background-color: transparent;
          "
          readonly
          disabled
          fullWidth
          [value]="stateUserEducation.description || ''"
          class="textarea"
          [id]="'description'"
        >
        </textarea>
      </div>
      <div class="input_inline">
        <div style="width: 400px">
          <ait-output-file
            [id]="'file'"
            [fileKeys]="stateUserEducation.file"
            [label]="'files'"
          ></ait-output-file>
        </div>
      </div>
    </div>
  </div>
  <div class="sticky">
    <div class="action-row">
      <div class="block">
      <ait-button
        [id]="'close'"
        [width]="'150px'"
        [title]="'close'"
        [background]="
          'linear-gradient(89.75deg, #002b6e 0.23%, #2288cc 99.81%)'
        "
      ></ait-button>
    </div>
    </div>
  </div>
</div>
