<div class="template__popup">
    <ait-text-gradient
      [content]="'title header'"
      [id]="'certificate-detail'"
    ></ait-text-gradient>
  
    <div class="content__card">
      <div class="input_inline">
        <ait-output-text
          [label]="'NAME'"
          [width]="'400px'"
          [value]="stateUserCertificate.name?.value"
          [id]="'name'"
        ></ait-output-text>
      </div>
      <div class="input_inline">
        <ait-output-text
          [label]="'CERTIFICATE NUMBER'"
          [id]="'certificate_award_number'"
          [width]="'400px'"
          [value]="stateUserCertificate.certificate_award_number"
        ></ait-output-text>
        </div>
        <div class="input_inline">
          <ait-output-text
            [label]="'GRADE'"
            [id]="'grade'"
            [width]="'400px'"
            [value]="stateUserCertificate.grade"
          ></ait-output-text>
        </div>
        <div class="input_inline">
            <ait-output-text
              [label]="'ISSUE BY'"
              [width]="'400px'"
              [value]="stateUserCertificate.issue_by?.value"
              [id]="'issue_by'"
            ></ait-output-text>
          </div>
        <div class="start-date">
          <ait-datepicker
            [label]="'ISSUE DATE'"
            [id]="'issue_date_from'"
            [disable]="true"
            [styleInput]="{ color: '#8f9bb3', width: '180px' }"
            [defaultValue]="stateUserCertificate.issue_date_from"
          ></ait-datepicker>
          <span style="margin-bottom: 4px">〜</span>
          <ait-datepicker
            [id]="'issue_date_to'"
            [disable]="true"
            [styleInput]="{ color: '#8f9bb3', width: '180px' }"
            [defaultValue]="stateUserCertificate.issue_date_to"
          ></ait-datepicker>
        </div>
        <div class="input_inline" >
          <ait-label
            [label]="'DESCRIPTION'"
            [id]="'description'"
          ></ait-label>
  
          <textarea
            nbInput
            style="width: 400px; color: #8f9bb3; min-height: 131px;margin-top:10px; background-color: transparent;"
            readonly
            disabled
            fullWidth
            [value]="stateUserCertificate.description || ''"
            class="textarea"
            [id]="'description'"
          >
          </textarea>
        </div>
        <div class="input_inline">
            <div style="width: 400px">
          <ait-output-file
            [id]="'file'"
            [fileKeys]="stateUserCertificate.file"
            [label]="'files'"
          ></ait-output-file>
      </div>
        </div>
        
      </div>
  </div>
  

