<ait-template-popup [width]="800" [isLoading]="true" [isPage]="false">
  <div class="user__wrapper">
    <ait-text-gradient
      [content]="'title header'"
      [id]="'certificate-detail'"
    ></ait-text-gradient>
    <div class="content__card">
      <div class="form">
        <div class="input_inline">
          <ait-output-text
            [label]="'name'"
            [width]="'400px'"
            [value]="stateUserCertificate.name?.value"
            [id]="'name'"
          ></ait-output-text>
        </div>
        <div class="input_inline">
          <ait-output-text
            [label]="'certificate number'"
            [id]="'certificate_award_number'"
            [width]="'400px'"
            [value]="stateUserCertificate.certificate_award_number"
          ></ait-output-text>
        </div>
        <div class="input_inline">
          <ait-output-text
            [label]="'grade'"
            [id]="'grade'"
            [width]="'400px'"
            [value]="stateUserCertificate.grade"
          ></ait-output-text>
        </div>
        <div class="input_inline">
          <ait-output-text
            [label]="'issue_by'"
            [width]="'400px'"
            [value]="stateUserCertificate.issue_by?.value"
            [id]="'issue_by'"
          ></ait-output-text>
        </div>
        <div class="start-date">
          <ait-datepicker
            [label]="'issue date'"
            [id]="'issue_date_from'"
            [disable]="true"
            [styleInput]="{ color: '#8f9bb3', width: '180px' , background:'#ffffff'}"
            [defaultValue]="stateUserCertificate.issue_date_from"
          ></ait-datepicker>
          <span style="margin-bottom: 4px">〜</span>
          <ait-datepicker
            [id]="'issue_date_to'"
            [disable]="true"
            [styleInput]="{ color: '#8f9bb3', width: '180px', background:'#ffffff' }"
            [defaultValue]="stateUserCertificate.issue_date_to"
          ></ait-datepicker>
        </div>
        <div class="textarea_inline">
          <ait-label [label]="'description'" [id]="'description'"></ait-label>

          <textarea
            nbInput
            style="
              width: 400px;
              color: #8f9bb3;
              min-height: 131px;
              margin-top: 10px;
              background-color: transparent;
              resize: none;
            "
            readonly
            disabled
            fullWidth
            [value]="stateUserCertificate.description || ''"
            class="textarea"
            [id]="'description'"
          >
          </textarea>
        </div>
        <div class="input_inline">
          <div style="width: 400px">
            <ait-output-file
              [id]="'file'"
              [fileKeys]="stateUserCertificate.file"
              [label]="'files'"
            ></ait-output-file>
          </div>
        </div>
      </div>
    </div>
    <div class="sticky">
      <div class="action-row">
        <div class="block">
          <ait-button
            [id]="'close'"
            [width]="'150px'"
            [title]="'close'"
            (click)="close()"
            [background]="
              'linear-gradient(89.75deg, #002b6e 0.23%, #2288cc 99.81%)'
            "
          ></ait-button>
        </div>
      </div>
    </div>
  </div>
</ait-template-popup>
