<div class="template__popup">
    <ait-text-gradient
      [content]="'User certificate detail'"
      [id]="'certificate-detail'"
      tabindex="1"
    ></ait-text-gradient>
  
    <div class="content__card">
      <div class="input_inline">
        <ait-output-text
          tabindex="2"
          [label]="'NAME'"
          [width]="'400px'"
          [value]="stateUserCertificate.name?.value"
          [id]="'name'"
        ></ait-output-text>
      </div>
      <div class="input_inline">
        <ait-output-text
          tabindex="3"
          [label]="'CERTIFICATE NUMBER'"
          [id]="'certificate_award_number'"
          [width]="'400px'"
          [value]="stateUserCertificate.certificate_award_number"
        ></ait-output-text>
        </div>
        <div class="input_inline">
          <ait-output-text
            tabindex="4"
            [label]="'GRADE'"
            [id]="'grade'"
            [width]="'400px'"
            [value]="stateUserCertificate.grade"
          ></ait-output-text>
        </div>
        <div class="input_inline">
            <ait-output-text
              tabindex="5"
              [label]="'ISSUE BY'"
              [width]="'400px'"
              [value]="stateUserCertificate.issue_by?.value"
              [id]="'issue_by'"
            ></ait-output-text>
          </div>
        <div class="start-date">
          <ait-datepicker
            [label]="'ISSUE DATE'"
            [id]="'issue_date_from'"
            [disable]="true"
            [styleInput]="{ color: '#8f9bb3', width: '185px' }"
            [defaultValue]="stateUserCertificate.issue_date_from"
          ></ait-datepicker>
          <span style="margin-bottom: 4px">〜</span>
          <ait-datepicker
            [id]="'issue_date_to'"
            [disable]="true"
            [styleInput]="{ color: '#8f9bb3', width: '185px' }"
            [defaultValue]="stateUserCertificate.issue_date_to"
          ></ait-datepicker>
        </div>
        <div class="input_inline">
          <ait-output-text
            tabindex="6"
            [label]="'description'"
            [id]="'description'"
            [width]="'400px'"
            [value]="stateUserCertificate.description"
          ></ait-output-text>
        </div>
        <div class="input_inline" tabindex="7">
            <div style="width: 100%">
          <ait-output-file
            [id]="'file'"
            [fileKeys]="stateUserCertificate.file"
            [label]="'files'"
          ></ait-output-file>
      </div>
        </div>
        
      </div>
  </div>
  

