<div class="user_profile_wrapper" id="user_profile">
  <div class="content__card" *ngIf="isload">
    <div
      style="
        margin-top: 20px;
        font-size: 36px;
        display: flex;
        justify-content: center;
      "
    >
      <ait-text-gradient
        [content]="'User profile'"
        [id]="'form_edit_user_project'"
        [fontsize]="'36px'"
      ></ait-text-gradient>
    </div>
    <!-- profile -->
    <div style="position: relative" class="profile">
      <card-content
        tabindex="2"
        [id]="'company_detail'"
        style="outline-color: #10529d"
        class="content_card"
        style="display: flex; justify-content: center"
        [label]="'Basic information' | translate"
        [styleLabel]="{ 'font-size': '26px' }"
        (onClickButtonHeader)="nextPage('user-onboarding/', user_id)"
        [actionBtn]="isMyUserProfile ? actionBtnProfile : ''"
        [buttonTitle]="'Edit profile'"
        [disableHeader]="false"
        [widthBtn]="'120px'"
        [content]=""
        [styleContent]="{
          color: '#8F9BB3',
          'font-size': '12px'
        }"
        [padding]="'25px 22px'"
        [isOpen]="true"
        [idBtn]="'openAddSkill'"
      >
        <div class="container-user-project">
          <div
            style="display: flex; flex-wrap: wrap; width: 100%; padding: 20px"
          >
            <div
              class="left"
              style="flex: 1; display: flex; flex-direction: column"
            >
              <div class="input_inline">
                <ait-output-text
                  [label]="'first name'"
                  [width]="'200px'"
                  [value]="DataUserProfile?.first_name"
                  [id]="'first name'"
                ></ait-output-text>
              </div>
              <div class="input_inline">
                <ait-output-text
                  [label]="'katakana'"
                  [width]="'200px'"
                  [value]="'Thuan'"
                  [id]="'katakana'"
                ></ait-output-text>
              </div>
              <div class="input_inline">
                <ait-output-text
                  [label]="'born on date'"
                  [width]="'200px'"
                  [value]="'Thuan'"
                  [id]="'born on date'"
                ></ait-output-text>
              </div>
              <div class="input_inline">
                <ait-label [label]="'about'" [id]="'query'"></ait-label>

                <textarea
                  nbInput
                  style="
                    width: 400px;
                    color: #8f9bb3;
                    min-height: 131px;
                    margin-top: 10px;
                    background-color: transparent;
                    resize: none;
                  "
                  readonly
                  disabled
                  fullWidth
                  [value]="DataUserProfile?.about || ''"
                  class="textarea"
                  [id]="'description'"
                >
                </textarea>
              </div>
            </div>
            <div
              class="right"
              style="flex: 1; display: flex; flex-direction: column"
            >
              <div class="input_inline">
                <ait-output-text
                  [label]="'last name'"
                  [width]="'200px'"
                  [value]="DataUserProfile?.last_name"
                  [id]="'last name'"
                ></ait-output-text>
              </div>
              <div class="input_inline">
                <ait-output-text
                  [label]="'Romaji'"
                  [width]="'200px'"
                  [value]="DataUserProfile?.romaji || ''"
                  [id]="'romaji'"
                ></ait-output-text>
              </div>
              <div class="input_inline">
                <ait-output-text
                  [label]="'gender'"
                  [width]="'200px'"
                  [value]="DataUserProfile?.gender || ''"
                  [id]="'gender'"
                ></ait-output-text>
              </div>
              <div class="input_inline">
                <ait-output-text
                  [label]="'phone number'"
                  [width]="'200px'"
                  [value]="DataUserProfile?.phone_number || ''"
                  [id]="'name'"
                ></ait-output-text>
              </div>
            </div>
          </div>
        </div>
      </card-content>
    </div>
    <!-- skills -->
    <div style="position: relative" class="skills">
      <div class="reorder_skills" style="z-index: 100" *ngIf="isMyUserProfile">
        <ait-button
          (click)="nextPage('user-reorder-skills')"
          [iconName]="'menu-outline'"
          [color]="'#fff'"
          [styleText]="{ 'font-size': '10px' }"
          [styleBtn]="{ width: '120px', 'min-width': '100px' }"
          [width]="'120px'"
          [minWidth]="'120px'"
          [height]="'26px'"
          [title]="'reorder skills'"
          [id]="'openReorderSkill'"
          [isDefault]="'true'"
        ></ait-button>
      </div>
      <card-content
        tabindex="2"
        [id]="'company_detail'"
        style="outline-color: #10529d"
        class="content_card"
        style="display: flex; justify-content: center"
        [label]="'skills' | translate"
        [styleLabel]="{ 'font-size': '26px' }"
        (onClickButtonHeader)="nextPage('user-skills')"
        [actionBtn]="isMyUserProfile ? actionBtn : ''"
        [buttonTitle]="'add skills'"
        [disableHeader]="false"
        [widthBtn]="'120px'"
        [content]="getCounter('my-profile.has-skill', countSkill)"
        [padding]="'13px 22px'"
        [styleContent]="{
          color: '#8F9BB3',
          'font-size': '12px',
          'margin-top': '5px'
        }"
        [isOpen]="false"
        [idBtn]="'openAddSkill'"
        (onToggle)="getExpan($event,'isShowSkill')"
      >
        <div class="container_user" >
          <div *ngFor="let category of skillByCategory; let index = index; let first = first">
            <!-- <div *ngIf="index <3 && !isShowSkill">
              <hr style="margin-top: 5px" *ngIf="!first" />
              <p class="title-skill">{{ category?.name }}</p>
              <ait-drag-scroll
                [list]="category.data"
                [showField]="'name'"
                [maxWidth]="'1500px'"
                [minWidth]="'100px'"
                [isNormal]="false"
              ></ait-drag-scroll>
            </div>            -->
            <div>
              <hr style="margin-top: 5px" *ngIf="!first" />
              <p class="title-skill">{{ category?.name }}</p>
              <ait-drag-scroll
                [list]="category.data"
                [showField]="'name'"
                [maxWidth]="'1500px'"
                [minWidth]="'100px'"
                [isNormal]="false"
              ></ait-drag-scroll>
            </div>           
          </div>
        </div>
      </card-content>
    </div>

    <!-- project -->
    <div class="project">
      <card-content
        tabindex="2"
        [id]="'project_detail'"
        style="outline-color: #10529d"
        class="content_card"
        style="display: flex; justify-content: center"
        [label]="'projects' | translate"
        [styleLabel]="{ 'font-size': '26px' }"
        [styleText]="{ 'font-size': '15px' }"
        (onClickButtonHeader)="nextPage('user-project')"
        [actionBtn]="isMyUserProfile ? actionBtn : ''"
        [buttonTitle]="'add projects'"
        [disableHeader]="false"
        [widthBtn]="'120px'"
        [content]="getCounter('my-profile.project-time', timeProject * 22 * 8)"
        [styleContent]="{
          color: '#8F9BB3',
          'font-size': '12px',
          'margin-top': '5px'
        }"
        [isOpen]="false"
        [idBtn]="'openProjects'"
        [padding]="'13px 22px'"
      >
        <div class="container_user" *ngIf="userProject.length > 0">
          <!-- <div *ngIf="userProject.length > 2">
            <ul
            *ngFor="
              let listProject of userProject;
              let index = index;
              let firstcomp = first
            "
          >
          <hr style="margin-top: 5px" *ngIf="!firstcomp" />
            <li class="timeline-event">
              <div class="timeline-block">
                <div class="img-timeline-cmp">
                  <img
                    src="../../../../../assets/images/image.png"
                    alt="project"
                  />
                </div>
                <div class="timeline-info">
                  <div>
                    <p id="title-timeline">
                      {{ listProject?.company_name }}
                    </p>
                    <div class="desc-info">
                      <p>{{ dateDiffInYears(listProject?.working_time) }}</p>
                    </div>
                  </div>
                </div>
              </div>
            </li>
            </ul>
          </div> -->

          <ul
            *ngFor="
              let listProject of userProject;
              let last = last;
              let firstcomp = first
            "
          >
            <li class="timeline-event">
              <div class="timeline-block">
                <div class="img-timeline-cmp">
                  <img
                    src="../../../../../assets/images/image.png"
                    alt="project"
                  />
                </div>
                <div class="timeline-info">
                  <div>
                    <p id="title-timeline">
                      {{ listProject?.company_name }}
                    </p>
                    <div class="desc-info">
                      <p>{{ dateDiffInYears(listProject?.working_time) }}</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="devline"></div>
            </li>
            <li
              class="timeline-event"
              *ngFor="
                let project of listProject?.data_project;
                let last = last;
                let firstproj = first
              "
            >
              <div class="timeline-block">
                <div class="img-timeline">
                  <img
                    src="../../../../../assets/images/Icon.svg"
                    alt="project"
                    *ngIf="
                      project?.start_date_to && project?.start_date_to < today
                    "
                  />
                  <img
                    src="../../../../../assets/images/IconEdit.svg"
                    alt="projectcurrent"
                    *ngIf="
                      !project?.start_date_to || project?.start_date_to >= today
                    "
                  />
                </div>
                <div class="timeline-info">
                  <div>
                    <p id="title-timeline">{{ project.name }}</p>
                    <div class="desc-info">
                      <p>{{ project?.title.value }}</p>
                      <p *ngIf="!project.start_date_to">
                        {{ project?.start_date_from | date: monthFormat }} -
                        {{ 'my-profile.prevent' | translate }}:
                        {{
                          dateDiffInYears(
                            dateDiffInMonths(project?.start_date_from, null)
                          )
                        }}
                      </p>
                      <p *ngIf="project.start_date_to">
                        {{ project?.start_date_from | date: monthFormat }} -
                        {{ project?.start_date_to | date: monthFormat }}:
                        {{
                          dateDiffInYears(
                            dateDiffInMonths(
                              project?.start_date_from,
                              project?.start_date_to
                            )
                          )
                        }}
                      </p>
                    </div>
                  </div>
                </div>
                <div
                  id="ic-edit"
                  [nbTooltip]="
                    isMyUserProfile
                      ? ('my-profile.edit' | translate)
                      : ('my-profile.view' | translate)
                  "
                >
                  <a
                    (click)="nextPage('user-project', project?._key)"
                    [id]="'project-' + project?._key"
                    *ngIf="isMyUserProfile"
                  >
                    <nb-icon
                      nbSuffix
                      icon="edit-2-outline"
                      pack="eva"
                    ></nb-icon>
                  </a>
                  <a
                    (click)="openProjectsDetail(project?._key)"
                    [id]="'project-' + project?._key"
                    *ngIf="!isMyUserProfile"
                  >
                    <nb-icon nbSuffix icon="eye-outline" pack="eva"></nb-icon>
                  </a>
                </div>
              </div>
              <div class="devline" *ngIf="!last"></div>
            </li>
            <hr *ngIf="!last" />
          </ul>
        </div>
      </card-content>
    </div>
    <!-- EXPERIENCE -->
    <div class="experience">
      <card-content
        tabindex="2"
        [isOpen]="false"
        [id]="'experience_detail'"
        style="outline-color: #10529d"
        class="content_card"
        style="display: flex; justify-content: center"
        [label]="'experiencer' | translate"
        [styleLabel]="{ 'font-size': '26px' }"
        [styleText]="{ 'font-size': '15px' }"
        (onClickButtonHeader)="nextPage('user-experience')"
        [actionBtn]="isMyUserProfile ? actionBtn : ''"
        [buttonTitle]="'add experiencer'"
        [disableHeader]="false"
        [widthBtn]="'120px'"
        [content]="getCounter('my-profile.experience-time', timeExperienceStr)"
        [styleContent]="{
          color: '#8F9BB3',
          'font-size': '12px',
          'margin-top': '5px'
        }"
        [idBtn]="'openExperience'"
        [padding]="'13px 22px'"
      >
        <div class="container_user" *ngIf="userExperience.length > 0">
          <ul
            *ngFor="
              let listSxperience of userExperience;
              let last = last;
              let firstcomp = first
            "
          >
            <li class="timeline-event">
              <div class="timeline-block">
                <div class="img-timeline-cmp">
                  <img
                    src="../../../../../assets/images/image.png"
                    alt="project"
                  />
                </div>
                <div class="timeline-info">
                  <div>
                    <p id="title-timeline">
                      {{ listSxperience?.company_name }}
                    </p>
                    <div class="desc-info">
                      <p>{{ dateDiffInYears(listSxperience?.working_time) }}</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="devline"></div>
            </li>
            <li
              class="timeline-event"
              *ngFor="
                let experience of listSxperience?.data_project;
                let last = last;
                let firstproj = first
              "
            >
              <div class="timeline-block">
                <div class="img-timeline">
                  <img
                    src="../../../../../assets/images/Icon.svg"
                    alt="project"
                    *ngIf="
                      experience?.start_date_to &&
                      experience?.start_date_to < today
                    "
                  />
                  <img
                    src="../../../../../assets/images/IconEdit.svg"
                    alt="projectcurrent"
                    *ngIf="
                      !experience?.start_date_to ||
                      experience?.start_date_to >= today
                    "
                  />
                </div>
                <div class="timeline-info">
                  <div>
                    <p id="title-timeline">{{ experience?.title.value }}</p>
                    <div class="desc-info">
                      <p>{{ experience?.employee_type?.value }}</p>
                      <p *ngIf="!experience.start_date_to">
                        {{
                          experience?.start_date_from
                            ? (experience?.start_date_from | date: monthFormat)
                            : ('my-profile.unclear' | translate)
                        }}
                        - {{ 'my-profile.prevent' | translate }}:
                        {{
                          dateDiffInYears(
                            dateDiffInMonths(experience?.start_date_from, null)
                          )
                        }}
                      </p>
                      <p *ngIf="experience.start_date_to">
                        {{
                          experience?.start_date_from
                            ? (experience?.start_date_from | date: monthFormat)
                            : ('my-profile.unclear' | translate)
                        }}
                        - {{ experience?.start_date_to | date: monthFormat }}:
                        {{
                          dateDiffInYears(
                            dateDiffInMonths(
                              experience?.start_date_from,
                              experience?.start_date_to
                            )
                          )
                        }}
                      </p>
                    </div>
                  </div>
                </div>
                <div
                  id="ic-edit"
                  [nbTooltip]="
                    isMyUserProfile
                      ? ('my-profile.edit' | translate)
                      : ('my-profile.view' | translate)
                  "
                >
                  <a
                    (click)="nextPage('user-experience', experience?._key)"
                    [id]="'experience-' + experience?._key"
                    *ngIf="isMyUserProfile"
                  >
                    <nb-icon
                      nbSuffix
                      icon="edit-2-outline"
                      pack="eva"
                    ></nb-icon>
                  </a>
                  <a
                    (click)="openExperiencedetail(experience?._key)"
                    [id]="'experience-' + experience?._key"
                    *ngIf="!isMyUserProfile"
                  >
                    <nb-icon nbSuffix icon="eye-outline" pack="eva"></nb-icon>
                  </a>
                </div>
              </div>
              <div class="devline" *ngIf="!last"></div>
            </li>
            <hr *ngIf="!last" />
          </ul>
        </div>
      </card-content>
    </div>
    <!-- CERTIFICATES -->
    <div class="certificate">
      <card-content
        tabindex="2"
        [id]="'certificate_detail'"
        style="outline-color: #10529d"
        class="content_card"
        style="display: flex; justify-content: center"
        [label]="'CERTIFICATES'"
        [styleLabel]="{ 'font-size': '26px' }"
        [styleText]="{ 'font-size': '15px' }"
        (onClickButtonHeader)="nextPage('user-certificate')"
        [actionBtn]="isMyUserProfile ? actionBtn : ''"
        [buttonTitle]="'add certificate'"
        [disableHeader]="false"
        [widthBtn]="'120px'"
        [content]="
          getCounter('my-profile.certificates-count', countCentificate)
        "
        [styleContent]="{
          color: '#8F9BB3',
          'font-size': '12px',
          'margin-top': '5px'
        }"
        [isOpen]="false"
        [idBtn]="'openCertificate'"
        [padding]="'13px 22px'"
      >
        <div class="container_user" *ngIf="userCentificate.length > 0">
          <ul
            *ngFor="
              let centificate of userCentificate;
              let last = last;
              let firstcomp = first
            "
          >
            <li class="timeline-event">
              <div class="timeline-block">
                <div class="img-timeline-cmp">
                  <img
                    src="../../../../../assets/images/image.png"
                    alt="project"
                  />
                </div>
                <div class="timeline-info">
                  <div>
                    <p id="title-timeline">
                      {{ centificate?.name }}
                    </p>
                    <div class="desc-info">
                      <p>
                        {{ centificate?.issue_by }}
                      </p>
                      <p *ngIf="!centificate?.issue_date_to">
                        {{
                          centificate?.issue_date_from
                            ? (centificate?.issue_date_from | date: dateFormat)
                            : ('my-profile.unclear' | translate)
                        }}
                        - {{ 'my-profile.prevent' | translate }}
                      </p>

                      <p *ngIf="centificate?.issue_date_to">
                        {{
                          centificate?.issue_date_from
                            ? (centificate?.issue_date_from | date: dateFormat)
                            : ('my-profile.unclear' | translate)
                        }}
                        - {{ centificate?.issue_date_to | date: dateFormat }}
                      </p>
                    </div>
                  </div>
                </div>
                <div
                  id="ic-edit"
                  [nbTooltip]="
                    isMyUserProfile
                      ? ('my-profile.edit' | translate)
                      : ('my-profile.view' | translate)
                  "
                >
                  <a
                    (click)="nextPage('user-project', project?._key)"
                    [id]="'centificate-' + centificate?._key"
                    *ngIf="isMyUserProfile"
                  >
                    <nb-icon
                      nbSuffix
                      icon="edit-2-outline"
                      pack="eva"
                    ></nb-icon>
                  </a>
                  <a
                    (click)="openCertificateDetail(centificate?._key)"
                    [id]="'centificate-' + centificate?._key"
                    *ngIf="!isMyUserProfile"
                  >
                    <nb-icon nbSuffix icon="eye-outline" pack="eva"></nb-icon>
                  </a>
                </div>
              </div>
            </li>

            <hr *ngIf="!last" />
          </ul>
        </div>
      </card-content>
    </div>
    <!-- course -->
    <div class="course">
      <card-content
        [isOpen]="false"
        tabindex="2"
        [id]="'course_detail'"
        style="outline-color: #10529d"
        class="content_card"
        style="display: flex; justify-content: center"
        [label]="'my-profile.course'"
        [styleLabel]="{ 'font-size': '26px' }"
        [styleText]="{ 'font-size': '15px' }"
        (onClickButtonHeader)="nextPage('user-course')"
        [actionBtn]="isMyUserProfile ? actionBtn : ''"
        [buttonTitle]="'add course'"
        [disableHeader]="false"
        [widthBtn]="'120px'"
        [content]="getCounter('my-profile.course-count', countCourse)"
        [styleContent]="{
          color: '#8F9BB3',
          'font-size': '12px',
          'margin-top': '5px'
        }"
        [idBtn]="'openCourse'"
        [padding]="'13px 22px'"
      >
        <div class="container_user" *ngIf="userCourse.length > 0">
          <ul
            *ngFor="
              let course of userCourse;
              let last = last;
              let firstcomp = first
            "
          >
            <li class="timeline-event">
              <div class="timeline-block">
                <div class="img-timeline-cmp">
                  <img
                    src="../../../../../assets/images/image.png"
                    alt="project"
                  />
                </div>
                <div class="timeline-info">
                  <div>
                    <p id="title-timeline">
                      {{ course?.name }}
                    </p>
                    <div class="desc-info">
                      <p>
                        {{ course?.training_center }}
                      </p>
                      <p *ngIf="!course?.start_date_to">
                        {{
                          course?.start_date_from
                            ? (course?.start_date_from | date: dateFormat)
                            : ('my-profile.unclear' | translate)
                        }}
                        - {{ 'my-profile.prevent' | translate }}
                      </p>

                      <p *ngIf="course?.start_date_to">
                        {{
                          course?.start_date_from
                            ? (course?.start_date_from | date: dateFormat)
                            : ('my-profile.unclear' | translate)
                        }}
                        - {{ course?.start_date_to | date: dateFormat }}
                      </p>
                    </div>
                  </div>
                </div>
                <div
                  id="ic-edit"
                  [nbTooltip]="
                    isMyUserProfile
                      ? ('my-profile.edit' | translate)
                      : ('my-profile.view' | translate)
                  "
                >
                  <a
                    (click)="nextPage('user-course', course?._key)"
                    [id]="'course-' + course?._key"
                    *ngIf="isMyUserProfile"
                  >
                    <nb-icon
                      nbSuffix
                      icon="edit-2-outline"
                      pack="eva"
                    ></nb-icon>
                  </a>
                  <a
                    (click)="openCourseDetail(course?._key)"
                    [id]="'course-' + course?._key"
                    *ngIf="!isMyUserProfile"
                  >
                    <nb-icon nbSuffix icon="eye-outline" pack="eva"></nb-icon>
                  </a>
                </div>
              </div>
            </li>

            <hr *ngIf="!last" />
          </ul>
        </div>
      </card-content>
    </div>
    <!-- education -->
    <div class="education">
      <card-content
        tabindex="2"
        [isOpen]="false"
        [id]="'education_detail'"
        style="outline-color: #10529d"
        class="content_card"
        style="display: flex; justify-content: center"
        [label]="'educations'"
        [styleLabel]="{ 'font-size': '26px' }"
        [styleText]="{ 'font-size': '15px' }"
        (onClickButtonHeader)="nextPage('user-education')"
        [actionBtn]="isMyUserProfile ? actionBtn : ''"
        [buttonTitle]="'add education'"
        [disableHeader]="false"
        [widthBtn]="'120px'"
        [styleContent]="{
          color: '#8F9BB3',
          'font-size': '12px',
          'margin-top': '5px'
        }"
        [content]="''"
        [idBtn]="'openEducation'"
        [padding]="'25px 22px'"
      >
        <div
          class="container_user"
          *ngIf="userEducation.length > 0"
        >
          <ul
            *ngFor="
              let education of userEducation;
              let last = last;
              let firstcomp = first
            "
          >
            <li class="timeline-event">
              <div class="timeline-block">
                <div class="img-timeline-cmp">
                  <img
                    src="../../../../../assets/images/image.png"
                    alt="project"
                  />
                </div>
                <div class="timeline-info">
                  <div>
                    <p id="title-timeline">
                      {{ education?.school }}
                    </p>
                    <div class="desc-info">
                      <p style="text-decoration-line: underline">
                        {{ education?.field_of_study }}
                      </p>
                      <p *ngIf="!education.start_date_to">
                        {{
                          education?.start_date_from
                            ? (education?.start_date_from | date: monthFormat)
                            : ('my-profile.unclear' | translate)
                        }}
                        - {{ 'my-profile.prevent' | translate }}
                      </p>
                      <p *ngIf="education.start_date_to">
                        {{
                          education?.start_date_from
                            ? (education?.start_date_from | date: monthFormat)
                            : ('my-profile.unclear' | translate)
                        }}
                        - {{ education?.start_date_to | date: monthFormat }}
                      </p>
                    </div>
                  </div>
                </div>
                <div
                  id="ic-edit"
                  [nbTooltip]="
                    isMyUserProfile
                      ? ('my-profile.edit' | translate)
                      : ('my-profile.view' | translate)
                  "
                  style="top: 18px"
                >
                  <a
                    (click)="nextPage('user-education/', user_id)"
                    [id]="'education-' + education?._key"
                    *ngIf="isMyUserProfile"
                  >
                    <nb-icon
                      nbSuffix
                      icon="edit-2-outline"
                      pack="eva"
                    ></nb-icon>
                  </a>
                  <a
                    (click)="openEducationDetail(education?._key)"
                    [id]="'education-' + education?._key"
                    *ngIf="!isMyUserProfile"
                  >
                    <nb-icon nbSuffix icon="eye-outline" pack="eva"></nb-icon>
                  </a>
                </div>
              </div>
            </li>

            <hr *ngIf="!last" />
          </ul>
        </div>
      </card-content>
    </div>
    <!-- LANGUAGES -->
    <div class="languages">
      <card-content
        tabindex="2"
        [isOpen]="false"
        [id]="'language_detail'"
        style="outline-color: #10529d"
        class="content_card"
        style="display: flex; justify-content: center"
        [label]="'languages' | translate"
        [styleLabel]="{ 'font-size': '26px' }"
        [styleText]="{ 'font-size': '15px' }"
        (onClickButtonHeader)="nextPage('user-language')"
        [actionBtn]="isMyUserProfile ? actionBtn : ''"
        [buttonTitle]="'add language'"
        [disableHeader]="false"
        [widthBtn]="'120px'"
        [content]=""
        [styleContent]="{
          color: '#8F9BB3',
          'font-size': '12px',
          'margin-top': '5px'
        }"
        [idBtn]="'openLanguage'"
        [padding]="'25px 22px'"
      >
        <div class="container_user" *ngIf="userLanguage.length > 0">
          <ul
            *ngFor="
              let language of userLanguage;
              let last = last;
              let firstcomp = first
            "
          >
            <li class="timeline-event">
              <div class="timeline-block">
                <div class="img-timeline-cmp">
                  <img
                    class="languagea-img"
                    [src]="language.image"
                    alt="project"
                  />
                </div>
                <div class="timeline-info">
                  <div>
                    <p id="title-timeline">
                      {{ language?.language }}
                    </p>
                    <div class="desc-info">
                      <p style="text-decoration-line: underline">
                        {{ language?.proficiency }}
                      </p>
                    </div>
                  </div>
                </div>
                <div
                  id="ic-edit"
                  [nbTooltip]="
                    isMyUserProfile
                      ? ('my-profile.edit' | translate)
                      : ('my-profile.view' | translate)
                  "
                  style="top: 18px"
                >
                  <a
                    (click)="nextPage('user-language/', language?._key)"
                    [id]="'language-' + language?._key"
                    *ngIf="isMyUserProfile"
                  >
                    <nb-icon
                      nbSuffix
                      icon="edit-2-outline"
                      pack="eva"
                    ></nb-icon>
                  </a>
                  <a
                    (click)="openLanguageDetail(language?._key)"
                    [id]="'language-' + language?._key"
                    *ngIf="!isMyUserProfile"
                  >
                    <nb-icon nbSuffix icon="eye-outline" pack="eva"></nb-icon>
                  </a>
                </div>
              </div>
            </li>

            <hr *ngIf="!last" />
          </ul>
        </div>
      </card-content>
    </div>
  </div>
</div>
