<ait-group-view [page]="'course-detail'" [module]="'course-detail'" [_key]="user_key"></ait-group-view>

  <!-- <div class="user__wrapper">
    <ait-text-gradient
      [content]="'title header'"
      [id]="'course-detail'"
    ></ait-text-gradient>
    <div class="content__card">
      <div class="form">
        <div class="input_inline">
          <ait-output-text
            [label]="'NAME'"
            [width]="'400px'"
            [value]="stateUserCourse.name"
            [id]="'name'"
          ></ait-output-text>
        </div>
        <div class="input_inline">
          <div class="input_area" style="display: flex; align-items: center; height: 30px;">
            <nb-checkbox
              [disabled]="true "
              class="gray-text"
              [checked]="stateUserCourse.is_online"
              [id]="'is_online'"
              style="display: flex; align-items: center;"
            >
              <p id="online" style="margin: 0;color: #8f9bb3; font-size: 12px;">{{ 'online' | translate }}?</p>
            </nb-checkbox>
          </div>
        </div>
        <div class="input_inline">
          <ait-output-text
            [label]="'center'"
            [id]="'training_center'"
            [width]="'400px'"
            [value]="stateUserCourse.training_center?.value"
          ></ait-output-text>
        </div>
        <div class="input_inline">
          <ait-output-text
            [label]="'CERTIFICATE'"
            [id]="'course_number'"
            [width]="'400px'"
            [value]="stateUserCourse.course_number"
          ></ait-output-text>
        </div>
        <div class="start-date">
          <ait-datepicker
            [label]="'start date'"
            [id]="'start_date_from'"
            [disable]="true"
            [styleInput]="{ color: '#8f9bb3', width: '180px', background:'#ffffff' }"
            [defaultValue]="stateUserCourse.start_date_from"
          ></ait-datepicker>
          <span style="margin-bottom: 4px">〜</span>
          <ait-datepicker
            [id]="'start_date_to'"
            [disable]="true"
            [styleInput]="{ color: '#8f9bb3', width: '180px', background:'#ffffff' }"
            [defaultValue]="stateUserCourse.start_date_to"
          ></ait-datepicker>
        </div>
        <div class="textarea_inline">
          <ait-label [label]="'DESCRIPTION'" [id]="'description'"></ait-label>

          <textarea
            nbInput
            style="
              width: 400px;
              color: #8f9bb3;
              min-height: 131px;
              margin-top: 10px;
              background-color: transparent;
              resize: none;
            "
            readonly
            disabled
            fullWidth
            [value]="stateUserCourse.description || ''"
            class="textarea"
            [id]="'description'"
          >
          </textarea>
        </div>
        <div class="input_inline">
          <div style="width: 400px">
            <ait-output-file
              [id]="'file'"
              [fileKeys]="stateUserCourse.file"
              [label]="'files'"
            ></ait-output-file>
          </div>
        </div>
      </div>
    </div>
    <div class="sticky">
      <div class="action-row">
        <ait-button
          [id]="'close'"
          [width]="'150px'"
          [title]="'close'"
          [background]="
            'linear-gradient(89.75deg, #002b6e 0.23%, #2288cc 99.81%)'
          "
        ></ait-button>
      </div>
    </div>
  </div>
 -->
