<div class="card__items" [ngStyle]="{ border: '0.6px solid ' + colorCard }">
  <div class="color__header__card" [ngStyle]="{ background: backgroundCard }">
    <nb-icon icon="more-horizontal-outline" style="color: #fff"></nb-icon>
  </div>
  <div class="info__card" (click)="navigateProfile(cardH.user_id)">
    <div style="display: flex; width: 100%; align-items: center">
      <div style="width: 50px; height: 50px; margin: 5px">
        <img
          [src]="avatar"
          alt=""
          loading="lazy"
          srcset=""
          (error)="imageNotFound($event)"
          class="avatar empty"
          [ngStyle]="{ border: '2px solid ' + colorCard }"
          style="object-fit: cover"
        />
      </div>

      <div class="info">
        <div style="display: flex; width: 100%; flex-direction: column">
          <p class="name empty">{{ cardH?.name_kana }}</p>
          <p class="dept empty" [nbTooltip]="cardH?.work?.value">
            {{ cardH?.work?.value }}
          </p>
        </div>
      </div>
    </div>
    <!-- <div class="words__for__project" *ngIf="isSE">
      <p>Project will be start from 2021/01 to 2021/10</p>
    </div> -->
  </div>
  <div class="divider__card"></div>
  <!-- <mat-chip-list> -->
  <div class="list__skills" (click)="navigateProfile(cardH.user_id)">
    <div class="content">
      <p *ngFor="let p of fieldCard">
        <!-- <span *ngIf="p.field !== 'dob' && p.field !== 'current_salary' && !master_data_fields.includes(p.field)"
          >・{{ p.key }}：{{ p?.value }}
        </span>
        <span *ngIf="p.field === 'dob'"
          >・{{ p.key }}：{{ p?.value | aitDate }}</span
        >
        <span *ngIf="p.field === 'current_salary'"
          >・{{ p.key }} ：{{ p?.value | aitNumberFormat }}</span
        >
        <span *ngIf="master_data_fields.includes(p.field)"
          >・{{ p.key }} ：{{ p?.value?.value }}</span
        > -->
        <span>{{ getContent(p) }}</span>
        <!-- <span *ngIf="p.key === '現住所'">・{{ p.key }}：<span [innerHTML]="highlightName(p.value)"></span>

        </span>
        <span *ngIf="fieldDate.includes(p.key)">・{{ p.key }}：<span >{{p.value | aitDate}} </span>

        </span> -->
      </p>
    </div>
  </div>
  <!-- </mat-chip-list> -->
  <div class="action__card">
    <div
      class="items"
      [ngStyle]="{
        background: backgroundCard,
        display: 'flex',
        'align-items': 'center'
      }"
      (click)="actionButtonSave(card?._key)"
      nbTooltip="{{
        card.is_saved
          ? ('common.system.key.saved' | translate)
          : ('common.system.key.save' | translate)
      }}"
    >
      <nb-icon
        icon="{{ card.is_saved ? 'bookmark' : 'bookmark-outline' }}"
        [ngStyle]="{ color: '#fff' }"
      ></nb-icon>
      <p
        style="
          font-weight: bold;
          font-size: 10px;
          text-transform: uppercase;
          color: #ffffff;
          margin: 0;
        "
      >
        {{
          card.is_saved
            ? ('common.system.key.saved' | translate)
            : ('common.system.key.save' | translate)
        }}
      </p>
    </div>
  </div>
</div>
