<div class="template__popup">
  <ait-text-gradient
    [content]="mode === 'NEW' ? 'Add Course' : 'Edit Course'"
  ></ait-text-gradient>

  <div class="content__card">
    <div class="form__wrapper">
      <div class="input_inline">
        <ait-input-text
          [height]="'40px'"
          [width]="'400px'"
          [rows]="4"
          [label]="'Name'"
          [required]="true"
          [id]="'name'"
          [placeholder]="'Ex: Project Management'"
          (watchValue)="takeInputValue($event, 'name')"
          [defaultValue]="course.controls['name'].value"
          [isReset]="resetCourse.name"
          [isSubmit]="isSubmit"
          [length]="200"
        ></ait-input-text>
      </div>

      <div class="input_inline">
        <div class="input_area">
          <nb-checkbox
            class="gray-text"
            [checked]="course.controls['is_online'].value"
            [id]="'is_online'"
            (checkedChange)="toggleCheckBox($event)"
          >
            <p id="online">Online?</p>            
          </nb-checkbox>
        </div>
      </div>

      <div class="input_inline">
        <ait-autocomplete-master-data
          [id]="'training_center'"
          [label]="'Center'"
          [placeholder]="'BACH KHOA Ho Chi Minh Technology University'"
          [required]="false"
          [collection]="'m_training_center'"
          [isReset]="resetCourse.training_center"
          [style]="{ width: '400px' }"
          (watchValue)="takeInputValue($event, 'training_center')"
          [defaultValue]="[companyCenter]"
          [disableOutputDefault]="true"
          [isSubmit]="isSubmit"
        ></ait-autocomplete-master-data>
      </div>

      <div class="input_inline">
        <ait-input-text
          [id]="'course_number'"
          [height]="'40px'"
          [width]="'400px'"
          [rows]="4"
          [label]="'Certificate'"
          [required]="false"
          [placeholder]="'EX: AIT001'"
          (watchValue)="takeInputValue($event, 'course_number')"
          [defaultValue]="course.controls['course_number'].value"
          [isReset]="resetCourse.course_number"
          [isSubmit]="isSubmit"
          [length]="400"
        ></ait-input-text>
      </div>

      <div class="input_inline">
        <ait-datepicker
          [required]="false"
          [label]="'start date'"
          [placeholder]="'yyyy/MM/dd'"
          [id]="'start_date_from'"
          [style]="{ width: '170px' }"
          [isReset]="resetCourse.start_date_from"
          (watchValue)="
            takeDatePickerValue($event?.value, 'course', 'start_date_from')
          "
          [dateInput]="course.controls['start_date_from'].value"
          [isReset]="resetCourse.start_date_from"
          [isSubmit]="isSubmit"
        ></ait-datepicker>
        <p class="label-datepiker">{{ '~' }}</p>
        <ait-datepicker
          [required]="false"
          [placeholder]="'yyyy/MM/dd'"
          [id]="'start_date_to'"
          [style]="{ width: '170px' }"
          [isReset]="resetCourse.start_date_to"
          (watchValue)="
            takeDatePickerValue($event?.value, 'course', 'start_date_to')
          "
          [dateInput]="course.controls['start_date_to'].value"
        ></ait-datepicker>
      </div>

      <ait-error-message
        [errors]="error"
        [id]="'messagError'"
      ></ait-error-message>

      <div class="input_inline">
        <ait-input-text
          [height]="'108px'"
          [width]="'400px'"
          [rows]="4"
          [label]="'DESCRIPTION'"
          [required]="false"
          [id]="'description'"
          [placeholder]="'Place your text'"
          (watchValue)="takeInputValue($event, 'description')"
          [defaultValue]="course.controls['description'].value"
          [isReset]="resetCourse.description"
          [isSubmit]="isSubmit"
          [length]="4000"
        ></ait-input-text>
      </div>
      <div class="input_inline">   
      </div>
      <div class="input_area">
        <ait-label [label]="'FILES'"></ait-label>
        <label class="file-max"
          ><nb-icon icon="attach-outline"></nb-icon>Upload max 5 files and
          10MB/file</label
        >
        <ait-input-file
          [id]="'file'"
          [maxSize]="1000"
          [maxFiles]="5"
          [hasStatus]="false"
          [placeholder]="'Select file'"
          [isReset]="resetCourse.file"
          [isClear]="isClear"
          [fileKeys]="files"
          (watchValue)="getFiles($event.value)"
          [isSubmit]="isSubmit"
        ></ait-input-file>
      </div>

    </div>
  </div>
  <ait-space></ait-space>

  <div
    class="sticky"
    style="
      min-width: 370px;
      display: flex;
      align-items: center;
      justify-content: space-between;
    "
  >
    <div class="button__group">
      <ait-button
        [title]="'CANCEL'"
        [id]="'cancel'"
        [background]="'linear-gradient(89.75deg, #002b6e 0.23%, #2288cc 99.81%)'"
        (click)="back()"
      ></ait-button>
      <ait-button
        [title]="'RESET'"
        [id]="'reset'"
        [background]="'linear-gradient(89.75deg, #002b6e 0.23%, #2288cc 99.81%)'"
        (click)="resetForm()"
      ></ait-button>
      <ait-button
        *ngIf="mode === 'EDIT'"
        [id]="'delete'"
        [title]="'DELETE'"
        [background]="'linear-gradient(89.75deg, #002b6e 0.23%, #2288cc 99.81%)'"
        (click)="deleteUserById()"
      ></ait-button>
      <ait-button
        *ngIf="mode === 'NEW'"
        [title]="'SAVE & CONTINUE'"
        [background]="'linear-gradient(89.75deg, #002b6e 0.23%, #2288cc 99.81%)'"
        [id]="'saveContinue'"
        (click)="saveAndContinue()"
      ></ait-button>
      <ait-button
        [id]="'saveClose'"
        *ngIf="(isChanged && mode === 'EDIT') || mode === 'NEW'"
        [width]="'200px'"
        [title]="'SAVE & CLOSE'"
        (click)="saveAndClose()"
        [background]="'linear-gradient(89.75deg, #002b6e 0.23%, #2288cc 99.81%)'"
      >
      </ait-button>
      <ait-button
        *ngIf="!isChanged && mode === 'EDIT'"
        [id]="'saveClose'"
        [width]="'200px'"
        [title]="'SAVE & CLOSE'"
        [style]="'disabled'"
      ></ait-button>
    </div>
  </div>
</div>
