<div class="card__items" [ngStyle]="{ border: '0.6px solid ' + colorCard }">
  <div class="color__header__card" [ngStyle]="{ background: backgroundCard }">
    <nb-icon icon="more-horizontal-outline" style="color: #fff"></nb-icon>
  </div>
  <div class="info__card" (click)="routerToProfile()">
    <div style="display: flex; width: 100%; align-items: center">
      <div style="width: 50px; height: 50px; margin: 5px">
        <img
          [src]="avatar"
          alt=""
          loading="lazy"
          srcset=""
          (error)="imageNotFound()"
          class="avatar empty"
          [ngStyle]="{ border: '2px solid ' + colorCard }"
          style="object-fit: cover"
        />
      </div>

      <div class="info">
        <div style="display: flex; width: 100%; flex-direction: column">
          <p class="name empty">
            {{ cardH?.last_name + ' ' + cardH?.first_name }}
          </p>
          <p class="dept empty" [nbTooltip]="cardH?.company_working?.value">
            {{ cardH?.company_working?.value }}
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="divider__card">
    <div class="stamp" *ngIf="card?.stamp === 1">
      <img
        [nbTooltip]="'在留期限 満了1ヶ月前'"
        src="../../../../../../../assets/images/stamp_1_month.png"
        alt=""
        srcset=""
        loading="lazy"
      />
    </div>
    <div class="stamp" *ngIf="card?.stamp === 2">
      <img
        [nbTooltip]="'在留期限 満了3ヶ月前'"
        src="../../../../../../../assets/images/stamp_3_months.png"
        alt=""
        srcset=""
        loading="lazy"
      />
    </div>
  </div>
  <!-- <mat-chip-list> -->
  <div class="list__skills" (click)="navigateProfile(cardH.user_id)">
    <div class="content">
      <ait-chip
        *ngFor="let p of cardH.skills"
        [title]="p.name"
        [icon]="'close-outline'"
        [is18n]="false"
        [isHaveIcon]="false"
        tabindex="4"
        style="outline-color: #10529d"
        [isEvaluate]="true"
      ></ait-chip>
    </div>
  </div>
  <!-- </mat-chip-list> -->
  <div class="action__card">
    <div
      class="items"
      [ngStyle]="{
        background: '',
        display: 'flex',
        'align-items': 'center'
      }"
    >
      <div
        class="btn-card"
        [ngStyle]="{ background: backgroundCard }"
        (click)="actionButtonAdd(cardH.user_id)"
        nbTooltip="{{
          cardH.is_team_member ? ('added' | translate) : ('add' | translate)
        }}"
      >
        <nb-icon
          icon="{{ cardH.is_team_member ? 'plus' : 'plus-outline' }}"
          [ngStyle]="{ color: '#fff' }"
        ></nb-icon>
        <p
          style="
            font-weight: bold;
            font-size: 10px;
            text-transform: uppercase;
            color: #ffffff;
            margin: 0;
          "
        >
          {{
            cardH.is_team_member ? ('added' | translate) : ('add' | translate)
          }}
        </p>
      </div>
      <div style="background: 'white'; width: 1px; height: 100%"></div>
      <div
        class="btn-card"
        [ngStyle]="{ background: backgroundCard }"
        (click)="actionButtonSave(cardH.user_id)"
        nbTooltip="{{
          cardH.is_saved ? ('saved' | translate) : ('save' | translate)
        }}"
      >
        <nb-icon
          icon="{{ cardH.is_saved ? 'bookmark' : 'bookmark-outline' }}"
          [ngStyle]="{ color: '#fff' }"
        ></nb-icon>
        <p
          style="
            font-weight: bold;
            font-size: 10px;
            text-transform: uppercase;
            color: #ffffff;
            margin: 0;
          "
        >
          {{ cardH.is_saved ? ('saved' | translate) : ('save' | translate) }}
        </p>
      </div>
    </div>
  </div>
</div>
