<div [ngStyle]="areaStyle">
  <div [ngStyle]="elementStyle">
    <ait-autocomplete-master-data
      [class]="'COUNTRY'"
      [label]="'COUNTRY/REGION'"
      [id]="'country'"
      [maxItem]="1"
      [required]="true"
      [placeholder]="'Viet Nam'"
      [disableOutputDefault]="true"
      [style]="masterStyle"
      [isReset]="isReset.country"
      (watchValue)="takeMasterValue($event?.value, 'country')"
      [defaultValue]="
        dataForm.controls['country'].value
          ? [dataForm.controls['country'].value]
          : null
      "
    >
    </ait-autocomplete-master-data>
  </div>

  <ait-space [margin]="'7.25px'"></ait-space>

  <div [ngStyle]="elementStyle">
    <ait-input-text
      [length]="20"
      [label]="'POSTCODE'"
      [required]="true"
      [id]="'postcode'"
      [placeholder]="'70000'"
      [width]="inputWidth"
      [fullWidth]="true"
      [isReset]="isReset.postcode"
      (watchValue)="takeInputValue($event)"
      [defaultValue]="dataForm.controls['postcode'].value"
    >
    </ait-input-text>
  </div>

  <ait-space [margin]="'7.25px'"></ait-space>

  <div [ngStyle]="elementStyle">
    <ait-autocomplete-master-data
      [class]="'CITY'"
      [parentCode]="getParentCode('country')"
      [label]="'PROVINCE/CITY'"
      [id]="'city'"
      [required]="true"
      [maxItem]="1"
      [placeholder]="'Ho Chi Minh City'"
      [disableOutputDefault]="true"
      [style]="{ width: '250px' }"
      [isReset]="isReset.province"
      (watchValue)="takeMasterValue($event?.value, 'province')"
      [defaultValue]="
        dataForm.controls['province'].value
          ? [dataForm.controls['province'].value]
          : null
      "
    ></ait-autocomplete-master-data>
  </div>

  <ait-space [margin]="'7.25px'"></ait-space>

  <div [ngStyle]="elementStyle">
    <ait-autocomplete-master-data
      [class]="'DISTRICT'"
      [parentCode]="getParentCode('province')"
      [label]="'DISTRICT'"
      [id]="'district'"
      [maxItem]="1"
      [required]="true"
      [placeholder]="'District 1'"
      [disableOutputDefault]="true"
      [style]="{ width: '250px' }"
      [isReset]="isReset.district"
      (watchValue)="takeMasterValue($event?.value, 'district')"
      [defaultValue]="
        dataForm.controls['district'].value
          ? [dataForm.controls['district'].value]
          : null
      "
    ></ait-autocomplete-master-data>
  </div>

  <ait-space [margin]="'7.25px'"></ait-space>

  <div [ngStyle]="elementStyle">
    <ait-autocomplete-master-data
      [class]="'WARD'"
      [parentCode]="getParentCode('district')"
      [label]="'WARD'"
      [id]="'ward'"
      [maxItem]="1"
      [required]="true"
      [placeholder]="'Dakao'"
      [disableOutputDefault]="true"
      [style]="{ width: '250px' }"
      [isReset]="isReset.ward"
      (watchValue)="takeMasterValue($event?.value, 'ward')"
      [defaultValue]="
        dataForm.controls['ward'].value
          ? [dataForm.controls['ward'].value]
          : null
      "
    >
    </ait-autocomplete-master-data>
  </div>
</div>
