<div [ngStyle]="areaStyle">
  <div [ngStyle]="elementStyle">
    <ait-autocomplete-master-data
      [class]="'COUNTRY'"
      [label]="'coutry/region'"
      [id]="'country'"
      [maxItem]="1"
      [required]="true"
      [placeholder]="'viet nam'"
      [disableOutputDefault]="true"
      [isSubmit]="isSubmit"
      [style]="masterStyle"
      [isReset]="isReset.country_region"
      [clearError]="isClear"
      (watchValue)="takeMasterValue($event?.value, 'country_region')"
      [defaultValue]="
        dataForm.controls['country_region'].value
          ? [dataForm.controls['country_region'].value]
          : null
      "
    >
    </ait-autocomplete-master-data>
  </div>

  <ait-space [margin]="'7.25px'"></ait-space>

  <div [ngStyle]="elementStyle">
    <ait-input-text
      [length]="20"
      [label]="'post code'"
      [required]="true"
      [id]="'postcode'"
      [placeholder]="'70000'"
      [width]="inputWidth"
      [fullWidth]="true"
      [isSubmit]="isSubmit"
      [isReset]="isReset.postcode"
      (watchValue)="takeInputValue($event)"
      [defaultValue]="dataForm.controls['postcode'].value"
    >
    </ait-input-text>
  </div>

  <ait-space [margin]="'7.25px'"></ait-space>

  <div [ngStyle]="elementStyle">
    <ait-autocomplete-master-data
      [class]="'CITY'"
      [parentCode]="getParentCode('country_region')"
      [label]="'province/city'"
      [id]="'city'"
      [required]="true"
      [maxItem]="1"
      [placeholder]="'ho chi minh'"
      [disableOutputDefault]="true"
      [isSubmit]="isSubmit"
      [style]="masterStyle"
      [isReset]="isReset.province_city"
      [clearError]="isClear"
      (watchValue)="takeMasterValue($event?.value, 'province_city')"
      [defaultValue]="
        dataForm.controls['province_city'].value
          ? [dataForm.controls['province_city'].value]
          : null
      "
    ></ait-autocomplete-master-data>
  </div>

  <ait-space [margin]="'7.25px'"></ait-space>

  <div [ngStyle]="elementStyle">
    <ait-autocomplete-master-data
      [class]="'DISTRICT'"
      [parentCode]="getParentCode('province_city')"
      [label]="'dicstrict'"
      [id]="'district'"
      [maxItem]="1"
      [required]="true"
      [placeholder]="'District 1'"
      [disableOutputDefault]="true"
      [isSubmit]="isSubmit"
      [style]="masterStyle"
      [isReset]="isReset.district"
      [clearError]="isClear"
      (watchValue)="takeMasterValue($event?.value, 'district')"
      [defaultValue]="
        dataForm.controls['district'].value
          ? [dataForm.controls['district'].value]
          : null
      "
    ></ait-autocomplete-master-data>
  </div>

  <ait-space [margin]="'7.25px'"></ait-space>

  <div [ngStyle]="elementStyle">
    <ait-autocomplete-master-data
      [class]="'WARD'"
      [parentCode]="getParentCode('district')"
      [label]="'ward'"
      [id]="'ward'"
      [maxItem]="1"
      [required]="true"
      [placeholder]="'Dakao'"
      [disableOutputDefault]="true"
      [isSubmit]="isSubmit"
      [style]="masterStyle"
      [isReset]="isReset.ward"
      [clearError]="isClear"
      (watchValue)="takeMasterValue($event?.value, 'ward')"
      [defaultValue]="
        dataForm.controls['ward'].value
          ? [dataForm.controls['ward'].value]
          : null
      "
    >
    </ait-autocomplete-master-data>
  </div>
</div>
