.btn-group {
  width: 100%;
  margin-top: 40px;
  justify-content: center;
}

.center_span {
  margin: 35px 15px 0px 15px;
  font-size: 18px;
  font-weight: 800;
  color: #c5cee0;
  width: 27px;
  text-align: center;
}

.plan {
  display: flex;
  flex-direction: column;
  .plan-text {
    nb-icon {
      margin-right: 5px;
    }
    display: flex;
    font-weight: 400;
    font-size: 14px;
    color: #222b45;
  }
  .plan-text + .plan-text {
    margin-top: 5px;
  }
}

:host ::ng-deep .bottom__side {
  margin: 0 !important;
}
