@import '../user-project/user-project.component.scss';

.input_checkbox {
    display: flex;
    margin-bottom: 5px;
    margin-top: 25px;
    .pcontent {
        font-weight: 400;
        font-size: 13px;
        line-height: 24px;
        color: #8f9bb3;
        margin-left: 6px;
        margin-bottom: 0;
    }        
}
:host ::ng-deep .start_date_to {
    input {
        height: 42px;
        width: 185px !important;
    }
}
