<div class="user__experience__wrapper" id="user_experience">
  <ait-text-gradient
    [content]="getTitleByMode()"
    id="form_edit_user_experience"
  ></ait-text-gradient>
  <ait-space></ait-space>

  <ait-card-content
    style="justify-content: center"
    class="content__card"
    [label]="'基本情報'"
    [padding]="'14px 90px 0 10px'"
  >
    <div style="margin-top: 14px">
      <div class="input_area">
        <ait-autocomplete-master-data
          [id]="'title'"
          [label]="'TITLE'"
          [required]="true"
          [isSubmit]="isSubmit"
          [placeholder]="'Developer'"
          [collection]="'m_title'"
          [disableOutputDefault]="true"
          [isReset]="resetUserInfo.title"
          (watchValue)="takeMasterValue($event, 'title')"
          [defaultValue]="[userExperienceInfo.controls['title'].value]"
        ></ait-autocomplete-master-data>
      </div>
      <div class="input_area">
        <ait-autocomplete-master-data
          [required]="true"
          [label]="'COMPANY'"
          [isSubmit]="isSubmit"
          [id]="'company_working'"
          [collection]="'sys_company'"
          [placeholder]="'Aureole IT'"
          [disableOutputDefault]="false"
          [isReset]="resetUserInfo.company_working"
          [disableOutputDefault]="true"
          (watchValue)="takeMasterValue($event, 'company_working')"
          [defaultValue]="[
            userExperienceInfo.controls['company_working'].value
          ]"
        ></ait-autocomplete-master-data>
      </div>
      <div class="input_area">
        <ait-autocomplete-master-data
          [id]="'location'"
          [required]="true"
          [label]="'LOCATION'"
          [class]="'COUNTRY'"
          [isSubmit]="isSubmit"
          [disableOutputDefault]="true"
          [collection]="'sys_master_data'"
          [placeholder]="'Ho Chi Minh City'"
          [isReset]="resetUserInfo.location"
          (watchValue)="takeMasterValue($event, 'location')"
          [defaultValue]="[userExperienceInfo.controls['location'].value]"
        ></ait-autocomplete-master-data>
      </div>

      <div class="input_area">
        <ait-autocomplete-master-data
          [required]="true"
          [class]="'EMP_TYPE'"
          [isSubmit]="isSubmit"
          [id]="'employee_type'"
          [placeholder]="'Select'"
          [label]="'EMPLOYMENT TYPE'"
          [disableOutputDefault]="true"
          [collection]="'sys_master_data'"
          [isReset]="resetUserInfo.employee_type"
          (watchValue)="takeMasterValue($event, 'employee_type')"
          [defaultValue]="[userExperienceInfo.controls['employee_type'].value]"
        >
        </ait-autocomplete-master-data>
      </div>

      <div class="input_area">
        <nb-checkbox
          class="gray-text"
          [checked]="userExperienceInfo.controls['is_working']?.value"
          [id]="'is_working'"
          (checkedChange)="toggleCheckBox($event)"
          >I am currently working in this role
        </nb-checkbox>
      </div>

      <div class="start-date">
        <ait-datepicker
          [label]="'START DATE'"
          [placeholder]="'yyyy/MM/dd'"
          [id]="'start_date_from'"
          [style]="{ width: '180px' }"
          [isReset]="resetUserInfo.start_date_from"
          [dateInput]="userExperienceInfo.controls['start_date_from'].value"
          (watchValue)="
            takeDatePickerValue(
              $event?.value,
              'userExperienceInfo',
              'start_date_from'
            )
          "
        ></ait-datepicker>
        <span>〜</span>
        <ait-datepicker
          [placeholder]="'yyyy/MM/dd'"
          [id]="'start_date_to'"
          [style]="{ width: '180px' }"
          [isReset]="resetUserInfo.start_date_to"
          [disable]="userExperienceInfo.controls['is_working'].value"
          [ngClass]="{
            start_date_to: userExperienceInfo.controls['is_working'].value
          }"
          [dateInput]="userExperienceInfo.controls['start_date_to'].value"
          (watchValue)="
            takeDatePickerValue(
              $event?.value,
              'userExperienceInfo',
              'start_date_to'
            )
          "
        ></ait-datepicker>
      </div>
      <ait-error-message
        [id]="'start-date'"
        [errors]="errorArr"
      ></ait-error-message>

      <div class="input_area">
        <ait-input-text
          [id]="'description'"
          [length]="4000"
          [rows]="4"
          [label]="'DESCRIPTION'"
          [isReset]="resetUserInfo.description"
          [placeholder]="'Place your text'"
          [width]="'400px'"
          (watchValue)="takeInputValue($event, 'description')"
          [defaultValue]="userExperienceInfo.controls['description'].value"
        >
        </ait-input-text>
      </div>
    </div>
  </ait-card-content>
  <div class="sticky">
    <div class="action-row">
      <div class="block">
        <ait-button
          [id]="'cancel'"
          [title]="'CANCEL'"
          [background]="
            'linear-gradient(89.75deg, #002b6e 0.23%, #2288cc 99.81%)'
          "
          (click)="back()"
        ></ait-button>

        <ait-button
          *ngIf="mode === 'EDIT'"
          [id]="'delete'"
          [width]="'200px'"
          [title]="'DELETE'"
          [background]="
            'linear-gradient(89.75deg, #002b6e 0.23%, #2288cc 99.81%)'
          "
          (click)="onDelete()"
        >
        </ait-button>

        <ait-button
          [id]="'reset'"
          [width]="'200px'"
          [title]="'RESET'"
          [background]="
            'linear-gradient(89.75deg, #002b6e 0.23%, #2288cc 99.81%)'
          "
          (click)="resetForm()"
        >
        </ait-button>

        <ait-button
          *ngIf="mode === 'NEW'"
          [id]="'saveAndContinue'"
          [title]="'SAVE & CONTINUE'"
          (click)="saveAndContinue()"
          [background]="
            'linear-gradient(89.75deg, #002b6e 0.23%, #2288cc 99.81%)'
          "
        ></ait-button>

        <ait-button
          *ngIf="(isChanged && mode === 'EDIT') || mode === 'NEW'"
          [id]="'saveAndClose'"
          [width]="'200px'"
          [title]="'SAVE & CLOSE'"
          (click)="saveAndClose()"
          [background]="
            'linear-gradient(89.75deg, #002b6e 0.23%, #2288cc 99.81%)'
          "
        >
        </ait-button>
        <ait-button
          *ngIf="!isChanged && mode === 'EDIT'"
          [id]="'saveAndClose'"
          [width]="'200px'"
          [title]="'SAVE & CLOSE'"
          [style]="'disabled'"
        ></ait-button>
      </div>
    </div>
  </div>
</div>
