<div class="template__popup">
  <ait-text-gradient [content]="'Add certificate & award'"></ait-text-gradient>
  <div class="content__card">
    <div class="form__wrapper">

      <ait-autocomplete-master
        [id]="'name'"
        [label]="'Name'"
        [required]="true"
        [collection]="'sys_company'"
        [placeholder]="'Japanese N1'"
        [maxItem]="1"
        [style]="{ width: '400px' }"
        (watchValue)="takeInputValue($event, 'name')"
        [defaultValue]="userInfo.controls['name'].value"
      ></ait-autocomplete-master>

      <ait-space></ait-space>
      <ait-input-text
        [height]="'40px'"
        [width]="'400px'"
        [rows]="4"
        [label]="'CERTIFICATE NUMBER'"
        [required]="true"
        [id]="'certificate'"
        [placeholder]="'EX: AIT001'"
        (watchValue)="takeInputValue($event, 'certificate')"
        [defaultValue]="userInfo.controls['certificate'].value"
      ></ait-input-text>

      <ait-space></ait-space>

      <ait-input-text
        [height]="'40px'"
        [width]="'400px'"
        [rows]="4"
        [label]="'GRADE'"
        [required]="true"
        [id]="'grade'"
        [placeholder]="'90/120'"
        (watchValue)="takeInputValue($event, 'grade')"
        [defaultValue]="userInfo.controls['grade'].value"
      ></ait-input-text>

      <ait-space></ait-space>

      <ait-autocomplete-master
        [id]="'issue'"
        [label]="'Issue BY'"
        [required]="true"
        [collection]="'sys_company'"
        [placeholder]="'BACH KHOA Ho Chi Minh Technology University'"
        [maxItem]="1"
        [style]="{ width: '400px' }"
        (watchValue)="takeInputValue($event, 'issue')"
        [defaultValue]="userInfo.controls['issue'].value"
      ></ait-autocomplete-master>

      <ait-space></ait-space>

      <div class="input_inline">
        <ait-datepicker
          [required]="true"
          [label]="'ISSUE DATE'"
          [placeholder]="'yyyy/MM/dd'"
          [id]="'issueDate'"
          [style]="{ width: '170px' }"
          [isReset]="resetUserInfo.issueDate"
          (watchValue)="
            takeDatePickerValue($event?.value, 'userInfo', 'issueDate')
          "
          [dateInput]="userInfo.controls['issueDate'].value"
        ></ait-datepicker>
        <p class="label-datepiker">{{ '~' | translate }}</p>
        <ait-datepicker
          [required]="true"
          [placeholder]="'yyyy/MM/dd'"
          [id]="'immigration'"
          [style]="{ width: '170px' }"
          [isReset]="resetUserInfo.issueDate"
          (watchValue)="
            takeDatePickerValue($event?.value, 'userInfo', 'immigration')
          "
          [dateInput]="userInfo.controls['immigration'].value"
        ></ait-datepicker>
      </div>

      <ait-space></ait-space>

      <ait-input-text
        [height]="'108px'"
        [width]="'400px'"
        [rows]="4"
        [label]="'DESCRIPTION'"
        [required]="true"
        [id]="'description'"
        [placeholder]="'Place your text'"
        (watchValue)="takeInputValue($event, 'description')"
        [defaultValue]="userInfo.controls['description'].value"
      ></ait-input-text>

      <ait-space></ait-space>
      <div class="file">
        <ait-label [label]="'FILEs'"></ait-label>
        <label class="file-max"
          ><nb-icon icon="attach-outline"></nb-icon> Max file size is 10MB. Max
          files is 5 images</label
        >
        <div class="file-upload">
          <ait-input-file
            [height]="'40px'"
            [width]="'283,42px'"
            [placeholder]="'Select file'"
            [required]="false"
            [maxFiles]="1"
            [id]="'file'"
            [guidanceIcon]="'info-outline'"
            [maxSize]="100"
            [guidanceIcon]="null"
            [guidance]="null"
            [hasStatus]="null"
            (watchValue)="takeInputValue($event, 'description')"
          ></ait-input-file>
        </div>
      </div>
    </div>
  </div>

  <ait-space></ait-space>

  <div class="button__group">
    <ait-button
      [title]="'CANCEL'"
      [background]="'linear-gradient(89.75deg, #002b6e 0.23%, #2288cc 99.81%)'"
    ></ait-button>
    <ait-button
      [title]="'RESET'"
      [background]="'linear-gradient(89.75deg, #002b6e 0.23%, #2288cc 99.81%)'"
      (click)="resetForm()"
    ></ait-button>
    <ait-button
      *ngIf="user_key"
      [title]="'DELETE'"
      [background]="'linear-gradient(89.75deg, #002b6e 0.23%, #2288cc 99.81%)'"
    ></ait-button>
    <ait-button
      *ngIf="!user_key"
      [title]="'SAVE & CONTINUE'"
      [background]="'linear-gradient(89.75deg, #002b6e 0.23%, #2288cc 99.81%)'"
    ></ait-button>
    <ait-button
      [background]="'linear-gradient(89.75deg, #002b6e 0.23%, #2288cc 99.81%)'"
      [title]="'SAVE & CLOSE'"
      (click)="save()"
    ></ait-button>
  </div>
</div>
